<div class="inner-main">
    <div *ngIf="review && !loading">
        <p *ngIf="!fromUser || !isAuth || review.creator._id !== user._id">
            <a [routerLink]="'/products'">Products</a>
            &nbsp;<strong>&gt;</strong>
            &nbsp;<a [routerLink]="'/products/' + productId + '/reviews'">{{review.product.title}}</a>
            &nbsp;<strong>&gt;</strong>&nbsp;
            Review from {{review.creator.name}}
        </p>
        <p *ngIf="fromUser && isAuth && review.creator._id === user._id">
            <a [routerLink]="'/reviews/'">Reviews from {{review.creator.name}}</a>
            &nbsp;<strong>&gt;</strong>&nbsp;
            Review on {{review.product.title}}
        </p>
        <br>
        <app-review
        [loading]="indLoading === review._id"
        [review]="review"
        [noLink]="true"
        [user]="user"
        [edit]="edit"
        (deleteEvent)="deleteReview(review._id)"
        (saveEvent)="saveReview($event)"
        (voteEvent)="vote({review: review, positive: $event})">
        </app-review>
    </div>
    <div class="loaderHolder-review" *ngIf="loading">
        <app-spinner [purple]="true"
        [blueBG]="review && user && user._id === review.creator._id">
        </app-spinner>
    </div>
    <div *ngIf="!loading && !review && error">
        <app-failed-to-load
        [error]="error"
        (loadAgainEvent)="loadReview()">
        </app-failed-to-load>
    </div>
</div>
