.readTOS {

    display: inline-block;
    margin-left: 15px;
    transform: translateY(-7px);
}

@media all and (max-width: 460px) {

    .readTOS {
        display: block;
        margin-left: 45px;
        transform: translateY(-29px);
    }
}