<div class="signupWrapper wide-wrapper" *ngIf="!info">
    <a routerLink="/auth" class="switchLink">Already have an account? Sign in here</a>
    <h1 class="bluexBoxHeadline authHeadline">Sign up</h1>
    <form [formGroup]="signupForm" (submit)="signup()">
        <div class="signupBox">
            <div *ngIf="!info">
                <h3>Basic info</h3>
                <hr>
                <div class="holder">
                    <div class="inner-control">
                        <label for="firstName">First name *</label>
                        <input type="text" name="firstName" id="firstName" 
                        formControlName="firstName"
                        placeholder="John"
                        maxlength="20">
                        <app-error-message 
                        [error]="signupForm.controls.firstName.errors.required ?
                        'First name is required' : 'Invalid name format'" 
                        *ngIf="signupForm.controls.firstName.errors &&
                        signupForm.controls.firstName.touched">
                        </app-error-message>
                    </div>
                    <div class="inner-control">
                        <label for="lastName">Last name *</label>
                        <input 
                        type="text" 
                        name="lastName" 
                        id="lastName" 
                        formControlName="lastName" 
                        placeholder="Doe"
                        maxlength="20">
                        <app-error-message
                        [error]="signupForm.controls.firstName.errors.required ?
                        'Last name is required' : 'Invalid name format'"
                        *ngIf="signupForm.controls.lastName.errors &&
                        signupForm.controls.lastName.touched">
                        </app-error-message>
                    </div>
                </div>
                <div class="holder">
                    <div class="inner-control">
                        <label for="email">Email *</label>
                        <input type="email" name="email" id="email" formControlName="email"
                            placeholder="example@gmail.com">
                        <app-error-message 
                        [error]="signupForm.controls.email.errors.emailExists ?
                        'This email has already been registered' 
                        : 'Invalid email format'" 
                        *ngIf="signupForm.controls.email.errors &&
                            signupForm.controls.email.touched">
                        </app-error-message>
                    </div>
                </div>
                <div class="holder">
                    <div class="inner-control extended">
                        <label for="password">Password *</label>
                        <input 
                        type="password" name="password" id="password" formControlName="password"
                        placeholder="8-25 characters">
                        <app-error-message
                            [error]="signupForm.controls.password.errors.minlength ||
                                signupForm.controls.password.errors.maxlength ||
                                signupForm.controls.password.errors.required ?
                                (signupForm.controls.password.errors.minlength ||
                                signupForm.controls.password.errors.maxlength ?
                                (signupForm.controls.password.errors.minlength ?
                                'Password must be min 8 characters' :
                                'Password must not be longer than 25 characters')
                                : 'Password is required') : 
                                'The password must contain a number, a lower- and a uppercase character, and a special character'"
                            *ngIf="signupForm.controls.password.errors && signupForm.controls.password.touched">
                        </app-error-message>
                    </div>
                    <div class="inner-control">
                        <label for="password">Repeat password *</label>
                        <input type="password" name="repeatPassword" id="repeatPassword"
                            formControlName="repeatPassword" placeholder="Passwords must match">
                        <app-error-message *ngIf="signupForm.controls.repeatPassword.touched
                                && signupForm.controls.repeatPassword.errors" [error]="'The passwords do not match'">
                        </app-error-message>
                    </div>
                </div>
                <h3>Phone and 2FA</h3>
                <hr>
                <div class="holder">
                    <div class="inner-control">
                        <label for="phone">Cellphone *</label>
                        <div class="phone-holder">
                            <app-country-code
                                [small]="true"
                                [inputCountryCode]="signupForm.controls.phoneCountryCode.value"
                                (country)="setCountry($event, 'phoneCountryCode')" [includePlus]="true">
    
                                    <app-country-select-button 
                                    [countrySelected]="phoneCountrySelected"
                                    [small]="true"></app-country-select-button>
                                </app-country-code>
                            <input 
                            type="text" 
                            name="phone" 
                            placeholder="ex. 123 456 789 0"
                            id="phone"
                            maxlength="14"
                            (input)="formatNumber($event)"
                            formControlName="phone">
                        </div>
                        <app-error-message *ngIf="signupForm.controls.phone.touched
                        && signupForm.controls.phone.errors" 
                        [error]="signupForm.controls.phone.errors.required ? 'Phone number is required' 
                        : (signupForm.controls.phone.errors.phoneExists ? 'This phone number has already been registered' :
                        'Invalid phone number format')">
                        </app-error-message>
                    </div>
                    <div class="inner-control">
                        <label for="twoFactorAuth">Two-factor authentication</label>
                        <div id="twoFactorAuth">
                            <app-checkbox 
                            [enabled]="signupForm.value.twoFactorAuth"
                            (toggle)="setCheckBox($event)">
                            </app-checkbox>
                        </div>
                    </div>
                </div>
                <h3>Billing address</h3>
                <hr>
                <p>Address details are encrypted on the server.</p>
                <div class="holder">
                    <div class="inner-control">
                        <label for="street">Street address *</label>
                        <input 
                        type="text" 
                        name="street" 
                        id="street" 
                        formControlName="street"
                        maxlength="200"
                        placeholder="ex. 1 Oxford Street">
                        <app-error-message 
                        [error]="signupForm.controls.street.errors.required ?
                        'Street address is required' : 'Invalid address format'" 
                        *ngIf="signupForm.controls.street.errors &&
                        signupForm.controls.street.touched"
                        >
                        </app-error-message>
                    </div>
                    <div class="inner-control">
                        <label for="additional">Address complement</label>
                        <input 
                        type="text" 
                        name="additional" 
                        id="additional" 
                        formControlName="additional"
                        placeholder="Optional"
                        maxlength="50">
                        <app-error-message 
                        [error]="'Maximum length exceeded'" 
                        *ngIf="signupForm.controls.additional.errors &&
                        signupForm.controls.additional.touched"
                        >
                        </app-error-message>
                    </div>
                </div>
                <div class="holder">
                    <div class="inner-control">
                        <label for="zip">Postal code *</label>
                        <input 
                        type="text" 
                        name="zip" 
                        id="zip" 
                        formControlName="zip"
                        placeholder="ex. W1D 1BS"
                        maxlength="10">
                        <app-error-message 
                        [error]="signupForm.controls.zip.errors.required ? 
                        'Postal code is required' :
                        'Invalid ' + signupForm.value.countryCode.toUpperCase() +
                        ' postal code format'" 
                        *ngIf="signupForm.controls.zip.errors &&
                        signupForm.controls.zip.touched">
                        </app-error-message>
                    </div>
                    <div class="inner-control">
                        <label for="city">City *</label>
                        <input type="text" name="city" id="city" formControlName="city"
                        placeholder="ex. London" maxlength="200">
                        <app-error-message 
                        [error]="signupForm.controls.city.errors.required ?
                        'City is required' : 'Invalid city name format'" 
                        *ngIf="signupForm.controls.city.errors &&
                        signupForm.controls.city.touched">
                        </app-error-message>
                    </div>
                </div>
                <div class="holder">
                    <div class="inner-control">
                        <label for="province">Province</label>
                        <input 
                        type="text" 
                        name="province" 
                        id="province" 
                        formControlName="province"
                        placeholder="ex. England (Optional)"
                        maxlength="200">
                        <app-error-message 
                        [error]="'Invalid province name format'" 
                        *ngIf="signupForm.controls.province.errors &&
                        signupForm.controls.province.touched">
                        </app-error-message>
                    </div>
                    <div class="inner-control">
                        <label for="countryCode">Residence country</label>
                        <div id="countryCode">
                            <app-country-code
                                [inputCountryCode]="signupForm.controls.countryCode.value"
                                (country)="setCountry($event, 'countryCode')" [includePlus]="true">
    
                                    <app-country-select-button 
                                    [countrySelected]="countrySelected"></app-country-select-button>
                            </app-country-code>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="tos" [ngStyle]="{display: 'inline-block'}">
                    <app-checkbox 
                    [enabled]="readTOS"
                    (toggle)="readTOS = !readTOS"
                    >
                    </app-checkbox>
                </div>
                <label 
                for="tos"
                class="readTOS">
                    I have read and accept the <a href="https://www.lipsum.com/" rel="noreferrer noopener" target="_blank">Terms and Conditions</a>
                </label>
                <button 
                type="submit" 
                class="loginButton" 
                [disabled]="signupForm.invalid || !readTOS"
                >
                    Sign up
            </button>
            </div>
        </div>
    </form>
</div>
<div class="innerLoginWrapper" *ngIf="info">
    <app-result [text]="info"></app-result>
</div>