<p 
*ngIf="errorMessage.length > 0" 
[class]="{success: !error}" 
[@fade]="'in'">
    <fa-icon [icon]="error ? faExclamationTriangle : faCheckCircle"></fa-icon>
    &nbsp; &nbsp;{{errorMessage}}
</p>
