p {
    padding: 10px;
    background-color: #ddd;
    color: #f00;
    border-radius: 10px;
    width: 300px;
    font-size: 18px;
    box-sizing: border-box;
    transition: color 0.4s ease, background 0.4s ease;
}

p.success {
    transition: none;
    color: rgb(1, 91, 19);
}
