<div class="innerLoginWrapper">
    <div *ngIf="resetForm && !rejectedChange">
        <h1 class="bluexBoxHeadline authHeadline">Reset password</h1>
        <form 
        *ngIf="resetForm" 
        [formGroup]="resetForm"
        (submit)="resetPassword()">
            <div class="formGroup auth">
                <label for="password">New password</label>
                <input 
                type="password" 
                name="password" 
                id="password" 
                formControlName="password"
                placeholder="8-25 characters">
                <app-error-message 
                [error]="resetForm.controls.password.errors.minlength ||
                resetForm.controls.password.errors.maxlength ||
                resetForm.controls.password.errors.required ?
                (resetForm.controls.password.errors.minlength ||
                resetForm.controls.password.errors.maxlength ?
                (resetForm.controls.password.errors.minlength ?
                'Password must be min 8 characters' :
                'Password must not be longer than 25 characters')
                : 'Password is required') : 
                'The password must contain a number, a lower- and a uppercase character, and a special character'"
                *ngIf="resetForm.controls.password.errors && resetForm.controls.password.touched">
                </app-error-message>
            </div>
            <div class="formGroup auth">
                <label for="password">Repeat password</label>
                <input 
                type="password" 
                name="repeatPassword" 
                id="repeatPassword" 
                formControlName="repeatPassword"
                placeholder="Passwords must match">
                <app-error-message
                *ngIf="resetForm.controls.repeatPassword.touched
                && resetForm.controls.repeatPassword.errors"
                [error]="'The passwords do not match'">
                </app-error-message>
            </div>
            <a 
            routerLink="/auth" 
            class="switchLink centered">Cancel</a>
            <button 
            type="submit" 
            class="loginButton" 
            [disabled]="resetForm.invalid"
            >
                Reset password
            </button>
        </form>
    </div>
    <app-result 
    [error]="true"
    *ngIf="rejectedChange"
    text="The change has been rejected. Redirecting...">
    </app-result>
</div>