.productButtonHolder {
    display: flex;
    margin-top: 5px;
    justify-content: space-evenly;
}

.productButtonHolder.centered {
    justify-content: center;
}

.productButtonHolder.pink button {

    background-color: #fff;
    color: #b8447a;
}

.productButtonHolder button.small {
    width: 80px;
}

.productButtonHolder input {
    width: 50px;
    border-radius: 5px;
}