<div class="productButtonHolder" [ngClass]="{centered: product.inShoppingCart, pink: pink}">
    <button [ngClass]="{small: !product.inShoppingCart || !isAuth}" *ngIf="!product.inShoppingCart"
        (click)="addToCart(product, $event);" [title]="product.stock ? (isAuth ? 'Add to shopping cart' :
            'Add to shopping cart (sign in required)') : 'Out of stock'"
        [disabled]="!product.stock">
        <fa-icon [icon]="product.stock ? faCartArrowDown : faStoreSlash"></fa-icon>
    </button>
    <button *ngIf="product.inShoppingCart" title="Delete from shopping cart"
        (click)="deleteItem(product._id, $event);">
        <fa-icon [icon]="faTrash"></fa-icon>
    </button>
    <input type="number" name="count" (click)="$event.preventDefault(); $event.stopPropagation()" 
        [id]="'count-' + product._id"
        min="1" *ngIf="!product.inShoppingCart" (change)="product.count = $event.target.value"
        [max]="product.stock" value="1"
        [disabled]="!product.stock"
        aria-label="Count to add">
</div>
