.loader-holder {
    height: 220px;
    overflow: hidden;
}

.errorHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff005d;
    text-align: center;
}

.productError {
    font-size: 40px;
}

.productHolder {
    width: 100%;
    overflow-x: auto;
    padding: 10px 0;
    box-sizing: border-box;
    align-items: center;
}

.productHolder a,
.productHolder a:hover,
.productHolder:focus {
    text-decoration: none;
}

.productHolder-inner {
    display: flex;
}

.see-more-plus {
    font-size: 80px;
}

::ng-deep .productHolder .productItem {
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 0px;
}