<div class="inner-main">
    <app-gallery [images]="images"></app-gallery>
    <div class="category-div" *ngFor="let category of productCategories | keyvalue">
        <h2 
        class="productCategory"
        [ngStyle]="{'background-color': category.value.color}">
            {{category.value.title}}
        </h2>
        <div class="loader-holder" *ngIf="loading">
            <app-spinner [purple]="true"></app-spinner>
        </div>
        <app-error-block [loading]="loading"
        [error]="error">
        </app-error-block>
        <div class="productHolder" *ngIf="!loading && !error">

            <div class="productHolder-inner">
                <app-listing 
                *ngFor="let product of category.value.products"
                [product]="product"
                [color]="category.value.color">
                </app-listing>
                <a [routerLink]="'/products'" [queryParams]="{type: category.value.type}">
                    <div class="productItem gray">
                        <div class="plusHolder">
                            <fa-icon 
                            class="see-more-plus"
                            [icon]="faPlusCircle">
                            </fa-icon>
                            <h2>See more</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>