.browse-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.browse-layout-container {
    display: flex;
    justify-content: space-between;
}

.category-filters {
    width: 25%;
}

.product-list-holder {
    width: 70%;
}

.filter-button-holder {
    margin-bottom: 30px;
}

.browseMenu {
    margin: 0;
    padding: 0;
}

.browseMenu li {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 23px;
}

.browseMenu li:hover,
.browseMenu li:focus {
    background-color: #f37aaf;
    color: #fff;
    cursor: pointer;
}

.browseMenu li.active {
    color: #fff;
    background-color: #d34286;
}

.browse-line {
    margin-bottom: 4px;
}

::ng-deep .productItem {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.product-list-holder {

    position: relative;
}

.product-list-inner-holder {
    height: 80%;
}

#show {
    display: none;
}

@media all and (max-width: 900px) {

    .browse-layout-container {
        display: block;
    }

    .category-filters {
        width: 100%;
    }

    .product-list-holder {
        width: 100%;
    }

    .filters-holder form {
        opacity: 0;
        height: 0;
    }

    .browseMenu {

        display: flex;
        justify-content: space-between;
    }

    #show {
        float: right;
        display: inline-table;
        font-size: 18px;
        cursor: pointer;
        color: #b8447a;
    }

    #show:hover, #show:focus {
        text-decoration: underline;
    }

    .filters-holder form.showFilter {

        height: auto;
        opacity: 1;
    }

    .mobileLayoutWrapper {
        display: flex;
        justify-content: space-between;
    }
}

@media all and (max-width: 530px) {

    .browse-holder {

        justify-content: center;
    }
}