<div class="inner-main extended">
    <div class="browse-layout-container">
        <div class="category-filters">
            <div class="category-menu">
            
                <h2 class="browse-line">All products</h2>
                <hr>
                <ul class="browseMenu">
                    <li
                    *ngFor="let item of ProductType | keyvalue"
                    [ngClass]="{active: filterSettingsToLoad.type && item.value === filterSettingsToLoad.type[0]}"
                    (click)="setCategory(item.value)">
                        {{item.value | lowercase | capitalizePipe}}
                    </li>
                </ul>
            </div>
            <div class="filters-holder">
                <span id="show" (click)="showFilter = !showFilter">{{showFilter ? 'Hide' : 'Show'}}</span>
                <h2 class="browse-line">Filters</h2>
                <hr>
                <form [formGroup]="filterForm" (change)="updateFilter()" [ngClass]="{showFilter: showFilter}">
                    <div class="filter-button-holder">
                        <button (click)="clearFilters()">Clear filters</button>
                    </div>
                    <div class="mobileLayoutWrapper">
                        <div class="formGroup">
                            <label for="results">Limit results</label>
                            <select name="results" id="results"
                            (input)="setSelectTouched()"
                            [formControlName]="'limit'">
                                <option 
                                *ngFor="let option of limitOptions"
                                [value]="option">
                                    {{option}}
                                </option>
                            </select>
                        </div>
                        <div class="formGroup">
                            <label for="available">In stock</label>
                            <app-checkbox
                            (toggle)="toggleCheck($event)"
                            [enabled]="filterForm.controls.available.value"
                            [border]="true">
                            </app-checkbox>
                        </div>
                    </div>
                    <div class="formGroup">
                        <label for="price">Price</label>
                        <ngx-slider [options]="priceOptions"
                        (valueChange)="setSlider($event, 'priceLow')"
                        [value]="filterForm.value.priceLow"
                        (highValueChange)="setSlider($event, 'priceHigh')"
                        [highValue]="filterForm.value.priceHigh">
                        </ngx-slider>
                    </div>
                    <div class="formGroup">
                        <label for="price">Average rating</label>
                        <ngx-slider [options]="ratingOptions"
                        (valueChange)="setSlider($event, 'ratingLow')"
                        [value]="filterForm.value.ratingLow"
                        (highValueChange)="setSlider($event, 'ratingHigh')"
                        [highValue]="filterForm.value.ratingHigh">
                        </ngx-slider>
                    </div>
                </form>
            </div>
        </div>
        <div class="product-list-holder">
            <div *ngIf="!loading && !error" class="product-list-inner-holder">
                <p>Displaying {{products.length}} of {{
                    products.length < filterForm.value.limit*loadTimes ? products.length : filterForm.value.limit*loadTimes
                }} results</p>
                <div class="browse-holder">
                    <app-listing
                    *ngFor="let product of products"
                    [color]="product.type && product.type !== ProductType.BREAD && filterSettingsToLoad.type ? (
                        product.type === ProductType.COOKIE ? '#d34286'
                        : '#f37aaf'
                    )
                    : '#00aaff'"
                    [product]="product">
                    </app-listing>
                </div>
                <div class="no-items-image-holder" *ngIf="end && !products.length">
                    <img src="../../../../assets/tumbleweed.png" alt="No items found" class="tumbleweed">
                </div>
            </div>
            <app-error-block [loading]="loading"
            [error]="error" [big]="true">
            </app-error-block>
            <app-scroll-load 
            (triggerLoadEvent)="loadProducts()"
            [loading]="loading"
            >
            </app-scroll-load>
        </div>
    </div>
</div>