.message-flex-box {

    justify-content: space-between;
    display: flex;
    height: 100%;
}

.messages-container {
    width: 100%;
    height: calc(100% - 200px);
    box-sizing: border-box;
    padding: 0px 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.messages-container.noFlex {

    display: block;
}

.outer-message-column {

    width: calc(100% - 370px);
}

@media all and (max-width: 900px) {

    .mobile-messages-box {

        height: 100%;
    }
}