<div class="inner-main extended fixed" (window:resize)="setWidth()">

    <div class="message-flex-box" *ngIf="ww > 900">

        <div class="outer-conv-column">
            <app-conversation-panel></app-conversation-panel>
        </div>
        <div class="outer-message-column" *ngIf="selectedConversation === -1">
            <div class="message-column full">
                <p>Select a conversation and it will be displayed here</p>
            </div>
        </div>
        <div class="outer-message-column"
        *ngIf="conversations[selectedConversation]">
            <app-message-panel
            style="width: 100%;" 
            [inputConversation]="conversations[selectedConversation]"></app-message-panel>
        </div>
    </div>
    <div class="mobile-messages-box" *ngIf="ww <=900">
        <router-outlet></router-outlet>
    </div>

</div>
