<div class="sideDrawer" 
*ngIf="enabled" 
[@slideInOut]
[ngClass]="{search: mobileSearch}"
(click)="$event.stopPropagation()">
    <div class="sideDrawerTopBar">
        <button
        (click)="closeShoppingCart()"
        class="x-button">
            X
        </button>
    </div>
    <div class="inner">
        <h2>Shopping Cart ({{shoppingCart.length}})</h2>
        <h2 class="sum">Total: €{{sum}}</h2>
        <div class="item-holder">
            <ul class="cartItems">
                <li *ngFor="let item of shoppingCart">
                    <a [routerLink]="'/products/' + item._id._id">
                        <img class="productImg" [src]="'../../../assets/products/' + item._id.imageUrl">
                        <h2>{{item._id.title | cutShort: 7}} &nbsp; (€{{item._id.discountPrice ? item._id.discountPrice : item._id.price}})</h2>
                    </a>
                    <app-plusminus [item]="item"></app-plusminus>
                </li>
            </ul>
        </div>
        <div class="drawerButtonHolder" *ngIf="shoppingCart.length">
            <button 
            class="clear" 
            (click)="clearCart()">
                Clear
            </button>
            <button
            (click)="closeShoppingCart()"
            routerLink="/orders/checkout"
            class="checkout-button">
                Checkout
            </button>
        </div>
    </div>
</div>
