.sideDrawer {
    width: 350px;
    top: 70px;
    height: 100%;
    float: right;
    z-index: 40;
    right: 0;
    background: #eee;
    position: fixed;
    overflow: hidden;
    box-shadow:  -2px 0px 5px rgba(0,0,0,0.1);
    transition: top 0.4s ease, height 0.4s ease;
}

.sideDrawerTopBar {
    width: 100%;
    height: 50px;
    background-color: #f37aaf;
}

.x-button {
    width: 30px;
    margin: 10px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    height: 30px;
    background-color: #f37aaf;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.inner {
    padding: 0 10px;
    height: calc(100% - 130px);
    position: relative;
}

.item-holder {
    height: calc(100% - 150px);
    overflow-y: auto;
}

h2 {
    display: inline-table;
}

.drawerButtonHolder {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    height: 80px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    transition: bottom 0.4s ease;
}

.drawerButtonHolder button {
    width: 140px;
}

.sum {
    text-align: right;
    float: right;
}

@media all and (max-width: 900px) {

    .sideDrawer.search {

        top: 120px;
        height: calc(100% - 50px);
    }
}