.box {
    width: 31.2px;
    height: 31.2px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 5px;
}

.checkmark {
    width: 7px;
    pointer-events: none;
    background-color: #b8447a;
    height: 30px;
    margin-left: 14.5px;
    margin-top: 1px;
    transform-origin: center center;
    transform: rotate(45deg);
}
.checkmark:after {
    content: "";
    width: 100%;
    height: 40%;
    background-color: #b8447a;
    transform: rotate(90deg) translate(21px, 4px);
    display: block;
}

.box.disabled {
    background-color: #ccc;
}

.box.disabled .checkmark:after {
    background-color: rgb(91, 111, 94) !important;
}