<div 
class="storeMessageWrapper" 
[ngClass]="{error: error, offset: offsetLeft}" 
*ngIf="visible"
[@fadeInOut]>

    <span 
    class="x-close"
    (click)="forceClose($event)">
        <fa-icon [icon]="faTimes"></fa-icon>
    </span>

    <p>
        <fa-icon [icon]="error ? faExclamationTriangle : faCheckCircle"></fa-icon>
        &nbsp;
        {{message}}
    </p>
</div>
