.storeMessageWrapper {
    width: 330px;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    background-color: rgb(196, 244, 255);
    border: 2px solid #00aaff;
    border-radius: 5px;
    transition: right 0.4s ease;
}

.storeMessageWrapper.offset {
    right: 370px;
}

.storeMessageWrapper.error {
    background-color: rgb(255, 205, 220);
    border: 2px solid #ff005d;
}

.storeMessageWrapper p {
    color: #00aaff;
    font-size: 22px;
    margin: 10px 5px;
}

.storeMessageWrapper.error p {
    color: #ff005d;
}

.x-close {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}

@media all and (max-width: 600px) {

    .storeMessageWrapper {
        width: 100%;
        position: fixed;
        z-index: 100;
        bottom: 0;
        right: 0;
        border-radius: 0;
        border-left: 0 !important;
        border-bottom: 0 !important;
        border-right: 0 !important;
    }

    .storeMessageWrapper.offset {
        right: 0;
    }
}