.result-icon {
    text-align: center;
    height: 200px;
    width: 200px;
    font-size: 200px;
    color: #f00;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.result-icon.success {
    color: #f37aaf;
}