<div>
    <fa-icon 
    [icon]="error ? faTimesCircle : faCheckCircle" 
    class="result-icon"
    [ngClass]="{success: !error}">
    </fa-icon>
    
    <h3 style="text-align: center;">{{text}}</h3>
</div>
