.gallery {
    background-color: black;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.442);
}

.inner-gallery-container {
    position: relative;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
    display: block;
    box-sizing: border-box;
}

.inner-gallery {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.arrowOuter {
    width: 100%;
    z-index: 20;
    pointer-events: none;
    position: absolute;
}

.arrowContainer {
    width: 95%;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}

.arrow {
    color: #d34286;
    pointer-events: all;
    font-size: 40px;
    opacity: 0.5;
    transition: opacity 0.4s ease;
    cursor: pointer;
}

.arrow:hover, .arrow:focus {
    opacity: 1;
}

.gallery img {
    height: 100%;
}

.gallery h1 {
    position: absolute;
    bottom: 20px;
    font-size: 45px;
    text-shadow: 1px 1px 5px #000000;
    color: #ffffff;
    z-index: 25;
}

.dotContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 20;
    bottom: 10px;
}

.image-dot {
    width: 11px;
    height: 11px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 8px;
    background: transparent;
    border: 1px solid #d34286;
    transition: background 0.8s ease;
    box-shadow: 1px 1px 5px #0000006f;
}

.image-dot.selected {
    background-color: #d34286;
}

@media all and (max-width: 700px) {

    .inner-gallery-container {
        height: 190px;
    }

    .arrowContainer {
        height: 190px;
    }

    .gallery h1 {
        font-size: 30px;
    }
}