<div class="gallery" 
(touchstart)="swipe($event, 'start')"
(touchend)="swipe($event, 'end')">

    <div class="arrowOuter">
        <div class="arrowContainer">
            <fa-icon 
            [icon]="faArrowCircleLeft" 
            class="arrow"
            (click)="previous()"></fa-icon>
            <fa-icon 
            [icon]="faArrowCircleRight" 
            class="arrow"
            (click)="next(true)"></fa-icon>
        </div>
    </div>
    <div class="dotContainer">
        <span
        class="image-dot"
        *ngFor="let _ of images; let i = index"
        [ngClass]="{selected: i === ix }"
        (click)="setIx(i)">
        </span>
    </div>
    <div class="inner-gallery-container">
        <div class="inner-gallery"
        *ngFor="let image of images; let i = index"
        [ngStyle]="{'pointer-events': i === ix ? 'all' : 'none'}"
        (click)="redirectTo(image.link)">
            <h1
            *ngIf="i === ix"
            [@fade]>
                {{images[ix].desc}}.
            </h1>
            <img
            loading="lazy"
            *ngIf="i === ix"
            [@fade]
            [src]="'../../../assets/' + image.src" 
            [alt]="image.alt">
        </div>
    </div>
</div>