<div class="inner-main">
    <h1>Reviews by {{user ? user.firstName + ' ' + user.lastName : ""}}</h1>
    <app-sort-bar
    [sortAfter]="sortAfterReviews"
    [sortValue]="sortValue"
    [orderValue]="orderValue"
    (changeOrder)="setOrder($event)"
    (changeSort)="setSort($event)">
    </app-sort-bar>
    <div *ngIf="reviews.length > 0">
        <div class="my-review-holder"
        *ngFor="let review of reviews">
            <a [routerLink]="'/products/' + review.product._id.toString()">
                <h1 id="my-review-product-line">
                    {{review.product.title}}
                </h1>
            </a>
            <hr>
            <app-review
            [review]="review"
            (saveEvent)="saveReview($event)"
            [user]="user"
            [loading]="indLoading && indLoading === review._id">
            </app-review>
        </div>
    </div>
    <div class="noReviews" *ngIf="end && !reviews.length">
        <br>
        <p>You have not posted any reviews yet.</p>
    </div>
    <app-error-block
    [loading]="loading"
    [error]="error">
    </app-error-block>
    <app-scroll-load 
    [loading]="loading"
    (triggerLoadEvent)="loadMore()">
    </app-scroll-load>
</div>
