.countrySelect.onOrder {
    width: 300px;
    border: 1px solid #00aaff;
}

.countrySelect .hourglassIcon {

    text-align: left;
    color: #00aaff;
    position: relative;
    margin-left: 10px;
    top: 5px;
}

.countrySelect.small .hourglassIcon {
    text-align: center;
}