<div class="countrySelect" [ngClass]="{onOrder: order}">
    <div *ngIf="countrySelected" [ngClass]="{small: small}">
        <div class="flag" [innerHTML]="countrySelected.icon" [ngClass]="{small: small}"></div>
        <p *ngIf="!small">{{countrySelected.name}}</p>
    </div>
    <fa-icon
    class="hourglassIcon"
    [icon]="faHourglass" *ngIf="!countrySelected"></fa-icon>
</div>
