.conversation-column {

    width: 350px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

.conv-holder {

    height: calc(100% - 82px);
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
}

.conv-holder.error-loading {

    overflow: hidden;
}

.markAsRead {
    margin-top: 0;
    margin-bottom: 7px;
}

@media all and (max-width: 900px) {

    .conversation-column {

        width: 100%;
        min-width: 320px;
    }
}