<div class="conversation-column">

    <div class="messageTopBar">
        <h1 class="messageHL">Messages {{messageCount ? '(' + (messageCount <= 99 ? messageCount : '99+') + ')' : ''}}</h1>
    </div>

    <div class="conv-holder error-loading" *ngIf="error && !conversations.length">
        <app-error-block [error]="error"></app-error-block>
    </div>

    <div class="conv-holder" *ngIf="conversations.length">
        <p class="markAsRead messageLink" (click)="markAllAsRead()">Mark all as read</p>
        <app-conversation
        *ngFor="let conversation of conversations"
        [conversation]="conversation"
        [user]="user"></app-conversation>

        <app-scroll-load 
        [loading]="loading && !noConvLoadingSpin"
        (triggerLoadEvent)="loadMore()">
        </app-scroll-load>

    </div>

    <div class="conv-holder error-loading" *ngIf="loading && !conversations.length && !noConvLoadingSpin">
        <app-spinner [purple]="true"></app-spinner>
    </div>

    <div class="no-items-image-holder no-overflow" *ngIf="!conversations.length && !loading && convEnd">
        <img src="../../../../assets/tumbleweed.png" alt="No items found" class="tumbleweed">
    </div>
</div>
