<div class="outer-message-holder">
    <p class="date-line"
    *ngIf="date"
    >{{message.createdAt | convertTimestamp: timeStamp}} ({{(message.createdAt | readableTimestamp)}})</p>

    <div class="message-bubble-holder"
    [ngClass]="{you: you}">
        <fa-icon
        [icon]="faTrash"
        (click)="deleteUnsentMessage()"
        *ngIf="you && message.messageIndError"
        title="Delete message"
        class="delete-message-icon">
        </fa-icon>
        <div *ngIf="!you && date && !firstFromUser || !you && firstFromUser" [title]="message.createdAt | readableTimestamp">
            <app-avatar
            [unread]="!message.read"
            [name]="message.fromFullName ? message.fromFullName : message.from._id">
            </app-avatar>
        </div>
        <div class="message-bubble" [ngClass]="{notYou: !you, subsequent: !you && !date && !firstFromUser}">
            <h3 *ngIf="message.subject">{{message.subject}}</h3>
            <p>{{finalOutput}}</p>
            <fa-icon
            *ngIf="you && message.createdAt"
            class="read-delievered"
            [title]="message.updatedAt ? (message.read ? 'Read' : 'Delievered')
            : message.messageIndLoading ? 'Sending...' : 'Error (Click to retry)'"
            (click)="retrySend()"
            [icon]="message.updatedAt ? 
            (message.read ? faCheckDouble : faCheck) :
            (message.messageIndError ? faExclamationTriangle : faHourglassHalf)"
            [ngClass]="{
                read: message.read, 
                loading: !message.updatedAt && message.messageIndLoading,
                error: !message.updatedAt && message.messageIndError
            }">
            </fa-icon>

            <div *ngIf="orderId" class="message-order-product-list-holder">

                <div 
                class="message-order-loader"
                *ngIf="orderLoading && !order">
                    <app-spinner
                    [purple]="true" 
                    [blueBG]="true"></app-spinner>
                </div>

                <div class="message-order-product-list-inner-holder" *ngIf="order">
                    <a [routerLink]="'/orders/' + order._id"><h1>{{order.orderedAt | readableTimestamp}}</h1></a>
                    <app-product-list 
                    [links]="!orderCancelled"
                    [cancelled]="orderCancelled"
                    [success]="!orderCancelled"
                    [cartItems]="order.products"
                    [products]="order.product_docs">
                    </app-product-list>
                    <h2 *ngIf="order.express">Express shipping (+ €3.99)</h2>
                    <h2>Sum: €{{order.sum}}</h2>
                    <br>
                    <div class="order-details-button-holder">
                        <div class="order-details-inner-holder">
                            <button [routerLink]="'/orders/' + order._id">Details</button>
                            <p 
                            class="cancelLink" 
                            (click)="cancelOrder()"
                            *ngIf="order.status === orderStatus.PROCESSING">Cancel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p 
class="resend" 
(click)="retrySend()"
*ngIf="retry">Retry</p>
