.message-bubble-holder {

    width: 100%;
    display: flex;
}

.message-bubble-holder.you {

    justify-content: flex-end;
}

.outer-message-holder {

    margin-bottom: 3px;
}

.message-bubble {

    border-radius: 10px;
    min-width: 50px;
    max-width: 80%;
    background-color: rgb(196, 244, 255);
    padding: 10px;
    min-height: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    margin: 2px 0 1px 5px;
    word-break: break-word;
    white-space: normal;
    position: relative;
    display: inline-table;
}

.message-bubble.notYou {

    max-width: calc(80% - 50px);
}

.message-bubble.subsequent {

    margin-left: 42px;
}

.message-bubble h3 {

    margin: 0 0 10px 0;
    font-size: 20px;
}

.message-bubble-holder.you .message-bubble {

    background-color: #fff;
}

.message-bubble p {

    max-width: 100%;
    margin-bottom: 0;
}

.read-delievered {
    float: right;
    margin-top: 4px;
    font-size: 14px;
}

.read-delievered.read {

    color: #00aaff;
}

.read-delievered.loading {

    color: #00aaff;
}

.read-delievered.error {

    cursor: pointer;
    color: #ff005d;
}

.date-line {
    text-align: center;
    margin: 10px auto;
    display: block;
}

.message-order-product-list-holder {
    overflow-x: auto;
    position: relative;
}

.message-order-product-list-inner-holder {

    width: 395px;
}

.order-details-button-holder {
    display: flex;
    justify-content: center;
}

.message-order-loader {
    overflow: hidden;
}

.delete-message-icon {

    color: #b8447a;
    font-size: 25px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.resend {

    color: #b8447a;
    font-weight: bold;
    display: block;
    float: right;
    cursor: pointer;
}

@media all and (max-width: 1000px) {

    .message-order-product-list-holder {

        width: 350px;
    }
}

@media all and (max-width: 900px) {

    .message-order-product-list-holder {

        width: 395px;
    }
}

@media all and (max-width: 600px) {

    .message-order-product-list-holder {

        width: 300px;
    }
}

@media all and (max-width: 400px) {

    .message-order-product-list-holder {

        width: 230px;
    }
}