header {

    height: 70px;
    background-color: #00aaff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    margin-bottom: 0;
    box-shadow:  0px 2px 5px rgba(0,0,0,0.1);
    transition: height 0.4s ease;
}

header .wrapper {
    margin: 15px auto 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.imgWrapper {
    width: 120px;
}

header img {
    height: 40px;
    margin-left: 50px;
}

.hamburgerMenu {
    float: left;
    padding: 9px 20px;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    transition: color 0.4s ease;
}

.searchBar form {
    width: 400px;
}

form .searchButtons {
    float: right;
    z-index: 5;
    width: 45px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-28px);
}

.searchBar input {
    font-size: 20px;
    padding: 8px;
    width: 400px;
    border: none;
    border-radius: 8px;
    z-index: 3;
    display: inline-block;
}

.search-icon {
    cursor: pointer;
    transition: color 1s ease;
}

.search-icon.changed {
    color: #f37aaf;
}

header .icon-holder {
    width: 105px;
    padding: 0 15px;
}

.headerLinks {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.signUpLinks a {
    margin-top: 9px;
    font-size: 24px;
    color: #3c4856;
    width: 100%;
    text-decoration: none;
    transition: color 0.4s ease;
}

.signUpLinks a:hover, .signUpLinks a:focus,
.signUpLinks a.active, .hamburgerMenu:hover,
.hamburgerMenu:focus, .hamburgerMenu.active {
    color: #b8447a;
}

.shopping-icon {
    font-size: 33px;
    cursor: pointer;
    transition: color 0.4s ease;
}

.shopping-icon:hover, .shopping-icon:focus,
.shopping-icon.active {
    color: #b8447a;
}

.count {
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #f37aaf;
    color: #000000;
    border-radius: 50%;
    font-size: 14px;
    transform: translate(-10px, -5px);
    pointer-events: none;
}

.icon-inner-div {
    position: relative;
}

.mobile-search {
    display: none;
}

.mobileSearchField {
    display: none;
}

.mobile-notAuth {
    display: none;
}

@media all and (max-width: 900px) {

    .mobile-notAuth {
        display: inline-block;
    }

    .mainSearch {
        display: none;
    }

    .mobile-search {
        display: inline-block;
    }

    header .icon-holder {
        width: 165px;
    }

    header.extended {

        height: 120px;
    }

    .mobileSearchField {
        width: 100%;
        display: block;
        height: 50px;
        overflow: hidden;
    }

    .signUpLinks {

        width: 165px;
    }

    .signUpLinks a, .notLoggedIn-search {
        width: 52px;
    }
}