<header [ngClass]="{extended: searchMobile}"
(window:touchstart)="swipePre($event, 'start')" 
(window:touchend)="swipePre($event, 'end')">
    <div class="wrapper">
        <div class="imgWrapper">
            <span class="hamburgerMenu"
            (click)="toggleHamburgerMenu($event)"
            [ngClass]="{active: hamburgerMenu}">
                <fa-icon 
                [icon]="faBars"
                >
                </fa-icon>
            </span>
            <a routerLink="/">
                <img src="../../../assets/logo.png" alt="Logo">
            </a>
        </div>
        <div class="mainSearch">
            <app-search-bar [searchSettings]="searchSettings"></app-search-bar>
        </div>
        <div class="icon-holder">
            <div class="headerLinks" *ngIf="isAuth">
                <div class="icon-inner-div mobile-search">
                    <fa-icon 
                    [icon]="faSearch"
                    (click)="toggleSearch($event)"
                    class="shopping-icon"
                    title="Search products..."
                    [class]="{active: searchMobile}"
                    ></fa-icon>
                </div>
                <div class="icon-inner-div">
                    <fa-icon 
                    [icon]="faShoppingCart" 
                    class="shopping-icon"
                    (click)="toggleShoppingCart($event)"
                    title="Shopping cart"
                    [class]="{active: shoppingCart}"
                    >
                    </fa-icon>
                    <span class="count" *ngIf="user.shoppingCart.length">
                        {{user.shoppingCart.length > 9 ? '9+' : user.shoppingCart.length}}
                    </span>
                </div>
                <div class="icon-inner-div">
                    <fa-icon 
                    [icon]="faUser" 
                    class="shopping-icon"
                    title="User options"
                    (click)="toggleMenu($event)"
                    [class]="{active: menu}">
                    </fa-icon>
                    <span class="count messages" *ngIf="messageCount">
                        {{messageCount > 9 ? '9+' : messageCount}}
                    </span>
                </div>
            </div>
            <div *ngIf="!isAuth" class="headerLinks signUpLinks">
                <div class="notLoggedIn-search">
                    <fa-icon 
                    [icon]="faSearch"
                    (click)="toggleSearch($event)"
                    class="shopping-icon mobile-notAuth"
                    title="Search products..."
                    [class]="{active: searchMobile}"
                    ></fa-icon>
                </div>
                <a 
                routerLink="/auth"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact:true}">Login</a>
                <a routerLink="/auth/signup" routerLinkActive="active">Signup</a>
            </div>
        </div>
    </div>
    <div class="mobileSearchField" *ngIf="searchMobile" [@simpleExCoAnimation]>
        <app-search-bar [searchSettings]="searchSettings" [mobile]="true"></app-search-bar>
    </div>
    <app-menu 
    *ngIf="menu && user" 
    [user]="user"
    [messageCount]="messageCount"
    [mobileSearch]="searchMobile"
    (closeMenuEvent)="closeMenu()"
    (logoutEvent)="logout()"></app-menu>
</header>
<app-hamburger-menu
[enabled]="hamburgerMenu"
[mobileSearch]="searchMobile"
[subMenu]="subMenu"
(toggleSubMenuEvent)="toggleSubMenu()">
</app-hamburger-menu>
<app-shopping-cart
*ngIf="user"
[sum]="sum"
[mobileSearch]="searchMobile"
[enabled]="shoppingCart" 
[shoppingCart]="user.shoppingCart"
(closeCartEvent)="closeShoppingCart()">
</app-shopping-cart>