<div class="inner-main checkout-wrapper">
    <h1>Checkout</h1>

    <div class="loader-holder" style="overflow: hidden;">
        <app-spinner *ngIf="!addressForm || loading" [purple]="true"></app-spinner>
    </div>
    <p *ngIf="!shoppingCart.length && !loading">
        There are no items in your shopping cart.
        <a [routerLink]="'/'">Return to front page</a>
    </p>
    <div *ngIf="!loading && shoppingCart.length">
        <div class="checkout-section">
            <h2 class="overline">Delievery address</h2>
            <hr>
            <p>Delivery address can be changed until the order has been dispatched.</p>
            <div class="checkout-address-choices">
                <app-radio-buttons
                [selected]="addressMode"
                (selectEvent)="addressMode = $event" 
                [options]="options">
                </app-radio-buttons>
            </div>
            <div class="formHolder" *ngIf="addressForm">
                <form
                [formGroup]="addressForm" *ngIf="addressMode">
                    <div class="formGroup">
                        <label for="street">Street address *</label>
                        <input 
                        type="text" 
                        name="street"
                        placeholder="ex. 1 Oxford Street" 
                        id="street" 
                        formControlName="street">
                        <app-error-message 
                        [error]="addressForm.controls.street.errors.required ?
                        'Street address is required' : 'Invalid address format'" 
                        *ngIf="addressForm.controls.street.errors &&
                        addressForm.controls.street.touched"
                        >
                        </app-error-message>
                    </div>
                    <div class="formGroup">
                        <label for="additional">Address complement</label>
                        <input 
                        type="text"
                        placeholder="Optional"
                        name="additional" 
                        id="additional"
                        formControlName="additional">
                        <app-error-message 
                        [error]="'Maximum length exceeded'" 
                        *ngIf="addressForm.controls.additional.errors &&
                        addressForm.controls.additional.touched"
                        >
                        </app-error-message>
                    </div>
                    <div class="formGroup">
                        <label for="zip">Postal code *</label>
                        <input 
                        type="text" 
                        name="zip" 
                        id="zip" 
                        formControlName="zip"
                        placeholder="ex. W1D 1BS"
                        maxlength="10">
                        <app-error-message 
                        [error]="addressForm.controls.zip.errors.required ? 
                        'Postal code is required' :
                        'Invalid ' + selectedCountry.code.toUpperCase() +
                        ' postal code format'" 
                        *ngIf="addressForm.controls.zip.errors &&
                        addressForm.controls.zip.touched">
                        </app-error-message>
                    </div>
                    <div class="formGroup">
                        <label for="city">City *</label>
                        <input type="text" name="city" id="city" formControlName="city"
                        placeholder="ex. London" maxlength="200">
                        <app-error-message 
                        [error]="addressForm.controls.city.errors.required ?
                        'City is required' : 'Invalid city name format'" 
                        *ngIf="addressForm.controls.city.errors &&
                        addressForm.controls.city.touched">
                        </app-error-message>
                    </div>
                    <div class="formGroup">
                        <label for="province">Province</label>
                        <input 
                        type="text" 
                        name="province" 
                        id="province" 
                        formControlName="province"
                        placeholder="ex. England (Optional)"
                        maxlength="200">
                        <app-error-message 
                        [error]="'Invalid province name format'" 
                        *ngIf="addressForm.controls.province.errors &&
                        addressForm.controls.province.touched">
                        </app-error-message>
                    </div>
                    <div class="formGroup">
                        <label for="countryCode">Country</label>
                        <div id="countryCode">
                            <app-country-code
                            [inputCountryCode]="selectedCountry.code"
                            (country)="setCountry($event)" [includePlus]="true">

                                <app-country-select-button
                                [order]="true"
                                [countrySelected]="selectedCountry"></app-country-select-button>
                            </app-country-code>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="checkout-section">
            <h2 class="overline">Shopping cart</h2>
            <hr>
            <ul class="cartItems checkout">
                <li *ngFor="let item of shoppingCart">
                    <a [routerLink]="'/products/' + item._id._id">
                        <img class="productImg" [src]="'../../../assets/products/' + item._id.imageUrl">
                        <h2>
                            {{item._id.title}} &nbsp; (<span class="discount order-discount" *ngIf="item._id.discountPrice">
                                €{{item._id.price}}
                            </span>
                            €{{item._id.discountPrice ? item._id.discountPrice : item._id.price}})
                        </h2>
                    </a>
                    <app-plusminus [item]="item"></app-plusminus>
                </li>
            </ul>
            <br>
            <div class="checkout-section box">
                <div id="expressBox">
                    <app-checkbox 
                    [enabled]="express" 
                    [border]="true"
                    (toggle)="express = $event; calculateSum()"></app-checkbox>
                </div>
                <label for="expressBox" 
                (click)="express = !express"
                style="cursor: pointer;">Express shipping (+ €3.99)</label>
            </div>
            <br>
            <p>Express shipping reduces delievery time from 2 business days to 1 business day</p>
    
            <h2>Sum: €{{sum}}</h2>
            <br>
        </div>
    
        <div class="checkout-section box">
            <h2 class="overline">Terms and conditions</h2>
            <hr>
            <div id="acceptTerms">
                <app-checkbox 
                [enabled]="acceptedTerms" 
                [border]="true"
                (toggle)="acceptedTerms = $event"></app-checkbox>
            </div>
            <label for="acceptTerms" 
            (click)="acceptedTerms = !acceptedTerms"
            style="cursor: pointer;">I accept the 
                <a href="https://www.lipsum.com/" rel="noreferrer noopener" target="_blank">Terms and Conditions</a> *</label>
        </div>
    
        <div class="checkout-section">
            <h2 class="overline">Payment</h2>
            <hr>
            <p>Payments are handled by Paypal.</p>
            <p><strong>Note: This site isn't a real webshop. Use these credentials to login:</strong></p>
            <ul class="credentials">
                <li><span>Email address:</span> &nbsp; sb-rxwo473514279@personal.example.com</li>
                <li><span>Password:</span> &nbsp; tP&6A4:*</li>
            </ul>
            <div class="checkoutButtonHolder">
                <button [routerLink]="'/'">Cancel</button>
                <button [disabled]="!acceptedTerms || addressMode && addressForm && addressForm.invalid"
                (click)="order()">
                    Checkout
                </button>
            </div>
        </div>
    </div>

    <div class="innerErrorHolder">
        <app-error [error]="error" [errorMessage]="error"></app-error>
    </div>

</div>
