.checkout-wrapper input {

    border: 1px solid #00aaff;
}

#acceptTerms, #expressBox {
    display: inline-table;
}

.checkout-section.box label {

    display: inline-table;
    font-size: 24px;
    margin-left: 10px;
    transform: translateY(-7px);
}

.checkoutButtonHolder {
    width: 400px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.credentials {
    padding: 0;
    margin-left: 0;
    font-size: 19px;
}

.credentials li {
    margin-bottom: 10px;
    font-weight: 500;
}

.credentials li span {
    font-weight: bold;
    font-size: 20px;
}

.cartItems.checkout {

    overflow-x: auto;
}

.cartItems.checkout li {

    min-width: 500px;
}

@media all and (max-width: 600px) {

    .checkoutButtonHolder {

        width: 300px;
    }

    .checkoutButtonHolder button {

        width: 120px;
    }
}