<a [routerLink]="'/products/' + product._id">
    <div class="productItem" [ngStyle]="{'background-color': color ? color : '#00aaff'}">
        <img [src]="'../../../../assets/products/' + product.imageUrl" [alt]="product.imageUrl">
        <h3>{{product.title}}</h3>
        <div class="outerStarHolder-listing">
            <a [routerLink]="'/products/' + product._id + '/reviews'" [queryParams]="{scroll: true}">
                <app-review-stars 
                [rating]="product.averageRating"
                [white]="color === '#d34286'"
                ></app-review-stars>
            </a>
        </div>
        <h3>
            <span 
            class="discount listing-discount"
            *ngIf="product.discountPrice">€{{product.price}} </span>
            €{{product.discountPrice ? product.discountPrice : product.price}}
        </h3>
        <app-cartbutton [product]="product" [pink]="color === '#d34286'"></app-cartbutton>
    </div>
</a>