.productItem h2 {
    text-align: center;
}

.productItem img {
    height: 115px;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
}

.productItem h3 {
    color: #fff;
    text-align: center;
    display: block;
    margin: auto;
}

.outerStarHolder-listing {
    width: 80%;
    display: block;
    margin: auto;
}

.listing-discount {
    color: rgb(182, 182, 182);
}