<div class="authWrapper">
    <div class="blueBox">
        <div *ngIf="loading" class="loader-holder">
            <app-spinner [black]="true"></app-spinner>
        </div>
        <div class="routerHolder" *ngIf="!loading">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div [ngStyle]="{display: 'block', margin: '5px auto 0 auto', width: '300px'}" *ngIf="!emailChangePage">
    <app-error [errorMessage]="errorMessage.length > 0 ? errorMessage : infoMessage" [error]="errorMessage.length > 0">
    </app-error>
</div>
