.authWrapper {
    display: flex;
    justify-content: center;
}

::ng-deep .innerLoginWrapper {
    width: 410px;
    box-sizing: border-box;
    padding: 20px;
}

.loader-holder {
    width: 400px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}