<div class="innerLoginWrapper">
    <a routerLink="./signup" class="switchLink centered" *ngIf="!twoFactor">
        Don't have an account? Sign up here
    </a>
    <h1 class="bluexBoxHeadline authHeadline">
        {{twoFactor ? "Two-Factor Authentication" : "Login"}}
        <fa-icon 
        [icon]="faQuestionCircle" 
        class="help" 
        *ngIf="twoFactor"
        title="Help..."
        (click)="helperEnabled = !helperEnabled">
        </fa-icon>
    </h1>
    <app-helper 
    [enabled]="helperEnabled" 
    (closeHelper)="helperEnabled = !helperEnabled"
    [content]="twoFactorHelper">
    </app-helper>
    <form [formGroup]="loginForm" (submit)="login()" *ngIf="!twoFactor">

        <div class="formGroup auth">
            <label for="email">Email</label>
            <input 
            type="email" 
            name="email" 
            id="email" 
            formControlName="email"
            placeholder="example@gmail.com">
            <app-error-message 
            [error]="'Invalid email format'" 
            *ngIf="loginForm.controls.email.errors &&
            loginForm.controls.email.touched">
            </app-error-message>
        </div>
        <div class="formGroup auth">
            <label for="password">Password</label>
            <input 
            type="password" 
            name="password" 
            id="password" 
            formControlName="password"
            placeholder="8-25 characters">
            <app-error-message 
            [error]="'Password is required'" 
            *ngIf="loginForm.controls.password.errors &&
            loginForm.controls.password.errors.required &&
            loginForm.controls.password.touched">
            </app-error-message>
        </div>
        <a 
        routerLink="./requestpasswordreset" 
        class="switchLink centered">Forgot password?</a>
        <button 
        type="submit" 
        class="loginButton" 
        [disabled]="loginForm.invalid"
        >
            Login
        </button>
    </form>
    <form 
    [formGroup]="twoFactorForm" 
    *ngIf="twoFactor"
    (submit)="twoFactorAuth()">
        <div class="formGroup auth">
            <label 
            for="twoFactor" 
            title="Open the Authy app on your phone and enter the token here">
                Authy-Token
            </label>
            <input 
            type="text" 
            name="twoFactor" 
            id="twoFactor"
            (input)="formatDigits($event)"
            maxlength="9" 
            formControlName="authyToken"
            placeholder="Ex. 12 345 67">
            <app-error-message 
            [error]="'Token must have 7 digits'" 
            *ngIf="twoFactorForm.controls.authyToken.errors &&
            twoFactorForm.controls.authyToken.touched">
            </app-error-message>
        </div>
        <div class="formGroup auth">
            <label for="saveDevice">Remember this device</label>
            <div id="saveDevice">
                <app-checkbox 
                [enabled]="twoFactorForm.value.saveDevice"
                (toggle)="toggleCheckbox($event)"></app-checkbox>
            </div>
        </div>
        <p 
        class="switchLink centered" 
        (click)="sendSms()"
        *ngIf="!sentSms">
            Want to recieve the token per SMS instead?
        </p>
        <button 
        type="submit" 
        class="loginButton" 
        [disabled]="twoFactorForm.invalid"
        >
            Submit
        </button>
    </form>
</div>