<div class="errorHolder block" *ngIf="!loading && error">
    <div class="innerErrorHolder">
        <fa-icon class="productError"
        [icon]="faExclamationTriangle"
        [ngClass]="{big: big}">
        </fa-icon>
        <h2>{{error}}</h2>
    </div>
</div>