.errorHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff005d;
    text-align: center;
}

.productError {
    font-size: 40px;
}

.productError.big {
    font-size: 110px;
}

.errorHolder h2 {
    display: block;
}

.errorHolder.block .innerErrorHolder {
    display: block;
}