.order {
    border-radius: 5px;
    border: 1px solid #00aaff;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 15px;
    background-color: rgb(196, 244, 255);
}

.order.cancelled {
    background-color: rgba(255, 204, 226, 0.367);
    border: 1px solid #b8447a;
}

.order h1 {
    display: inline;
}

.sum {
    float: right;
}

.sum h2 {
    margin-top: 0;
    text-align: right;
}

.no-block {
    display: inline-table;
}

.address-line {
    margin-bottom: 10px;
}

.product-line {
    margin-bottom: 2px;
}

.show-line {
    display: inline-block;
    font-size: 17px;
    transform: translateY(-5px);
    margin-left: 10px;
    margin-bottom: 0;
    color: #b8447a;
    cursor: pointer;
}

.show-line:hover, .show-line:focus {
    text-decoration: underline;
}

.order-item-price.fixed-width {
    float: right;
    margin-right: 1px;
    width: 99px;
    text-align: right;
    margin-left: 0;
}

#pID, #estDel {
    margin-bottom: 1px;
}

.boldSpan {
    font-weight: 600;
}

.address-list {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.no-overflow {
    overflow: hidden;
    margin-bottom: 0;
}

.orderButtonHolder {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 320px;
}

#review-from-order {
    float: right;
    margin-right: 8px;
    margin-top: 13px;
    width: 120px;
}

.cancelled-order {

    color: #b8447a;
}

.orderTextWrapper {
    width: 75%;
}

.cartItems.fixed-min-width {
    overflow-x: auto;
}

.cartItems.fixed-min-width li {

    min-width: 530px;
}

@media all and (max-width: 600px) {

    .order h1 {

        font-size: 25px;
    }

    .orderButtonHolder {

        width: 280px;
    }

    .orderButtonHolder button {

        width: 130px;
    }
}