<div 
class="product-list-item order"
[ngClass]="{cancelled: order.status === orderStatus.CANCELLED}">
    <div class="notEditingAddress" *ngIf="!edit && !loading">
        <h1 *ngIf="noLink">
            {{order.orderedAt | readableTimestamp}}
            <fa-icon 
            class="cancelled-order"
            *ngIf="order.status === orderStatus.CANCELLED"
            [icon]="faTimesCircle">
            </fa-icon>
        </h1>
        <a [routerLink]="'/orders/' + order._id" *ngIf="!noLink">
            <h1>
                {{order.orderedAt | readableTimestamp}}
                &nbsp; <fa-icon 
                *ngIf="order.status === orderStatus.CANCELLED"
                [icon]="faTimesCircle"
                class="cancelled-order">
                </fa-icon>
            </h1>
        </a>
        <div class="sum">
            <h2>€{{order.sum}}</h2>
            <p (click)="clearOrders()">
                <a [routerLink]="'/orders'"
                [queryParams]="{status: convertToStringArray(order.status), reload: shouldReload ? 'true' : null}"
                >
                    {{order.status}}
                </a>
            </p>
        </div>
        <div class="orderTextWrapper">
            <p id="pID"><span class="boldSpan">Purchase ID:</span> &nbsp; {{order.order_id}}</p>
            <p id="estDel" 
            *ngIf="order.status !== orderStatus.DELIEVERED && order.status !== orderStatus.CANCELLED">
                <span class="boldSpan">Estimated delievery date:</span> &nbsp;{{order.estimatedDelievery | readableTimestamp | zeroHour}}
            </p>
        </div>
        <h2 class="no-block address-line">
            Address: {{order.address ? 'Custom' : 'Standard'}}
        </h2>
        <p 
        class="show-line" 
        (click)="displayAddress = !displayAddress"
        *ngIf="order.address">
            {{displayAddress ? 'Hide' : 'Show'}}
        </p>
        <ul
        [@simpleExCoAnimation]
        *ngIf="displayAddress && order.address" 
        class="address-list no-overflow">
            <li *ngFor="let item of addressArray">{{item}}</li>
        </ul>
        <br>
        <h2 class="no-block product-line">Products ({{order.products.length}})</h2>
        <p class="show-line" (click)="displayProducts = !displayProducts">{{displayProducts ? 'Hide' : 'Show'}}</p>
        <ul class="cartItems no-overflow fixed-min-width" *ngIf="displayProducts" [@simpleExCoAnimation]>
            <li *ngFor="let productItem of order.product_docs; let i = index">
                <a [routerLink]="'/products/' + productItem._id">
                    <img class="productImg" [src]="'../../../assets/products/' + productItem.imageUrl">
                    <h2>{{productItem.title}} &nbsp; ({{order.products[i].count}})</h2>
                </a>
                <h2 class="order-item-price fixed-width">
                    <span class="discount cancelled-discount success" *ngIf="productItem.discountPrice">€{{productItem.price}}</span>
                    €{{productItem.discountPrice ? productItem.discountPrice : productItem.price}}
                </h2>
                <button 
                *ngIf="productItem.hasOrdered"
                [routerLink]="'/products/' + productItem._id + '/reviews'"
                [queryParams]="productItem.hasReviewed ? {'edit': 'true'} : {'new': 'true'}"
                id="review-from-order">
                    {{productItem.hasReviewed ? 'Edit review' : 'Post review'}}
                </button>
            </li>
        </ul>
        <h2 *ngIf="order.express">Express shipping (+ €3.99)</h2>
        <div class="orderButtonHolder" *ngIf="order.status === orderStatus.PROCESSING">
            <button (click)="edit = true">Edit address</button>
            <button (click)="cancelOrder()">Cancel order</button>
        </div>
    </div>
    <div class="orderFormDiv" *ngIf="!loading && edit">
        <h1>Change delievery address</h1>
        <div style="margin-top: 15px;">
            <app-radio-buttons [options]="options"
            [selected]="addressMode"
            (selectEvent)="addressMode = $event">
            </app-radio-buttons>
        </div>
        <form 
        [formGroup]="editAddressForm" *ngIf="addressMode"
        (submit)="submitAddressForm()">
            <div class="formGroup">
                <label for="street">Street address *</label>
                <input 
                type="text" 
                name="street"
                placeholder="ex. 1 Oxford Street" 
                id="street" 
                formControlName="street">
                <app-error-message 
                [error]="editAddressForm.controls.street.errors.required ?
                'Street address is required' : 'Invalid address format'" 
                *ngIf="editAddressForm.controls.street.errors &&
                editAddressForm.controls.street.touched"
                >
                </app-error-message>
            </div>
            <div class="formGroup">
                <label for="additional">Address complement</label>
                <input 
                type="text"
                placeholder="Optional"
                name="additional" 
                id="additional"
                formControlName="additional">
                <app-error-message 
                [error]="'Maximum length exceeded'" 
                *ngIf="editAddressForm.controls.additional.errors &&
                editAddressForm.controls.additional.touched"
                >
                </app-error-message>
            </div>
            <div class="formGroup">
                <label for="zip">Postal code *</label>
                <input 
                type="text" 
                name="zip" 
                id="zip" 
                formControlName="zip"
                placeholder="ex. W1D 1BS"
                maxlength="10">
                <app-error-message 
                [error]="editAddressForm.controls.zip.errors.required ? 
                'Postal code is required' :
                'Invalid ' + selectedCountry.code.toUpperCase() +
                ' postal code format'" 
                *ngIf="editAddressForm.controls.zip.errors &&
                editAddressForm.controls.zip.touched">
                </app-error-message>
            </div>
            <div class="formGroup">
                <label for="city">City *</label>
                <input type="text" name="city" id="city" formControlName="city"
                placeholder="ex. London" maxlength="200">
                <app-error-message 
                [error]="editAddressForm.controls.city.errors.required ?
                'City is required' : 'Invalid city name format'" 
                *ngIf="editAddressForm.controls.city.errors &&
                editAddressForm.controls.city.touched">
                </app-error-message>
            </div>
            <div class="formGroup">
                <label for="province">Province</label>
                <input 
                type="text" 
                name="province" 
                id="province" 
                formControlName="province"
                placeholder="ex. England (Optional)"
                maxlength="200">
                <app-error-message 
                [error]="'Invalid province name format'" 
                *ngIf="editAddressForm.controls.province.errors &&
                editAddressForm.controls.province.touched">
                </app-error-message>
            </div>
            <div class="formGroup">
                <label for="countryCode">Country</label>
                <div id="countryCode">
                    <app-country-code
                    [inputCountryCode]="selectedCountry.code"
                    (country)="setCountry($event)" [includePlus]="true">
                        <!-- the width and height will determine the click area for the Country code Selection -->
                        <!-- includePlus: whether the formControl will have the '+' included in the country code (does not effect the country event) -->

                        <app-country-select-button
                        [order]="true"
                        [countrySelected]="selectedCountry"></app-country-select-button>
                    </app-country-code>
                </div>
            </div>
            <br>
        </form>
        <div class="itemButtons">
            <button (click)="cancelEdit()">Cancel</button>
            <button 
            [disabled]="(editAddressForm.invalid && addressMode === 1) ||
            !addressMode && !order.address"
            (click)="submitAddressForm()">
                Save
            </button>
        </div>
    </div>
    <div class="loaderHolder" *ngIf="loading">
        <app-spinner [purple]="true" [blueBG]="true"></app-spinner>
    </div>
</div>
