<app-sort-bar
[sortValue]="sortValue"
[orderValue]="orderValue"
[sortAfter]="sortProductOrders"
(changeSort)="setSort($event)"
(changeOrder)="setOrder($event)">
</app-sort-bar>

<div *ngIf="orders.length && user && presetCountry">
    <app-order 
    *ngFor="let order of orders"
    [order]="order"
    [user]="user"
    [presetCountry]="presetCountry"
    [loading]="indLoading === order._id">
    </app-order>
</div>
<div class="noItems" *ngIf="end && !orders.length">
    <p>You have not ordered this product yet.</p>
</div>
<br>
<app-error-block
*ngIf="!end"
[loading]="loading"
[error]="error">
</app-error-block>
<app-scroll-load 
[loading]="loading"
(triggerLoadEvent)="loadMore()">
</app-scroll-load>
