<div class="inner-main extended orders-page" (document:click)="closeAutoComplete()">
    <h1>Orders</h1>
    <div class="upper-holder">
        <div class="search-order-holder">
            <div class="order-search-bar">
                <label for="order-search">Products included</label>
                <input 
                type="text"
                [(ngModel)]="searchValue"
                (focus)="searchFocus = true"
                (blur)="searchFocus = false"
                (keydown)="scrollThrough($event)"
                (keyup)="enterKeyUp($event)"
                [disabled]="productSearchTags.length === 5" 
                id="order-search"
                (ngModelChange)="searchProducts()"
                placeholder="Search products...">
            </div>
            <ul 
            class="autocomplete ac-orders" 
            *ngIf="autoComplete"
            (mouseleave)="closeAutoComplete()">
                <li 
                *ngFor="let product of productSuggestions; let i = index"
                [ngClass]="{selected: selectIndex === i}"
                (mouseenter)="selectIndex = i"
                (click)="addToSearchProducts(product)">
                    {{product.title}}
                </li>
            </ul>
        </div>
        <div class="sort-holder-outer">
            <app-sort-bar
            [sortAfter]="sortOrdersEnum"
            [noFlex]="true"
            [sortValue]="sortValue"
            [orderValue]="orderValue"
            (changeOrder)="setOrder($event)"
            (changeSort)="setSort($event)">
            </app-sort-bar>
        </div>
    </div>
    <div class="tagHolder" *ngIf="productSearchTags.length > 0">
        <label for="product-tags-inner-holder">Products</label>
        <div class="product-tags-inner-holder">
            <p class="product-tag" 
            *ngFor="let tag of productSearchTags; let i = index">
                <span class="tag-text">
                    {{tag.title}} 
                </span>
                <fa-icon 
                [icon]="faTimes"
                aria-label="Delete"
                title="Delete"
                class="tagCross"
                (click)="deleteTag(i)">
                </fa-icon> 
            </p>
        </div>
    </div>
    <div class="orders-checkboxes-holder">
        <div class="outer-checkbox-group">
            <div class="checkbox-group">
                <div id="processing" class="inner-checkbox-group">
                    <app-checkbox 
                    [enabled]="checkedBoxes.processing"
                    (toggle)="toggleBox($event, 'processing')">
                    </app-checkbox>
                </div>
                <label for="processing">Processing</label>
            </div>
            <br class="desktop-br">
            <div class="checkbox-group">
                <div id="dispatched" class="inner-checkbox-group">
                    <app-checkbox 
                    [enabled]="checkedBoxes.dispatched"
                    (toggle)="toggleBox($event, 'dispatched')">
                    </app-checkbox>
                </div>
                <label for="dispatched">Dispatched</label>
            </div>
        </div>
        <div class="outer-checkbox-group">
            <div class="checkbox-group">
                <div id="delievered" class="inner-checkbox-group">
                    <app-checkbox 
                    [enabled]="checkedBoxes.delievered"
                    (toggle)="toggleBox($event, 'delievered')">
                    </app-checkbox>
                </div>
                <label for="delievered">Delievered</label>
            </div>
            <br class="desktop-br">
            <div class="checkbox-group">
                <div id="cancelled" class="inner-checkbox-group">
                    <app-checkbox 
                    [enabled]="checkedBoxes.cancelled"
                    (toggle)="toggleBox($event, 'cancelled')">
                    </app-checkbox>
                </div>
                <label for="cancelled">Cancelled</label>
            </div>
        </div>
    </div>
    <div *ngIf="orders.length > 0 && user && presetCountry">
        <app-order 
        *ngFor="let order of orders"
        [order]="order"
        [user]="user"
        [shouldReload]="true"
        [presetCountry]="presetCountry"
        [loading]="indLoading === order._id">
        </app-order>
    </div>
    <div class="no-items-image-holder" *ngIf="!orders.length && end">
        <img src="../../../../assets/tumbleweed.png" alt="No items found" class="tumbleweed" class="tumbleweed">
    </div>
    <br>
    <app-error-block
    *ngIf="!end"
    [loading]="loading"
    [error]="error">
    </app-error-block>
    <app-scroll-load
    [loading]="loading"
    (triggerLoadEvent)="loadMore()">
    </app-scroll-load>
</div>
