.orders-checkboxes-holder {

    border-radius: 10px;
    padding: 10px;
    width: 100%;
    background-color: #9facbd;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.outer-checkbox-group {
    
    display: inline-block;
    width: 350px;
}

.inner-checkbox-group {
    display: inline-block;
}

.search-order-holder {
    padding: 15px 0;
    position: relative;
}

#order-search {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    width: 360px;
    box-sizing: border-box;
}

.orders-page label {
    font-size: 22px;
    display: block;
}

.checkbox-group label {
    display: inline-block;
    font-size: 25px;
    margin-left: 10px;
    transform: translateY(-5px);
}

.upper-holder {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sort-holder-outer {
    width: 350px;
}

.autocomplete {
    position: absolute;
    z-index: 3;
    margin-top: 0;
    padding: 0;
    margin-left: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.422);
    width: calc(100% - 10px);
}

.autocomplete li {
    padding: 10px 5px;
    cursor: pointer;
    display: block;
}

.autocomplete li.selected {
    background-color: #f37aaf;
}

.product-tags-inner-holder {

    margin: 12px 0 15px 0;
}

.product-tag {
    padding: 7px 10px 1px 10px;
    background-color: rgb(196, 244, 255);
    border-radius: 5px;
    border: 1px solid #00aaff;
    margin-bottom: 0;
    margin-right: 15px;
    box-sizing: border-box;
    display: inline-block;
}

.tag-text {
    margin-right: 20px;
}

.tagCross {
    cursor: pointer;
    float: right;
    transform: translateY(-1px);
}

@media all and (max-width: 900px) {

    .upper-holder {
        display: inline-block;
    }

    .search-order-holder {
        display: block;
        width: 100%;
    }

    #order-search {
        width: 100%;
    }

    .sort-holder-outer {
        width: 100%;
    }

    .outer-checkbox-group {

        display: block;
    }

    .desktop-br {
        display: none;
    }

    .checkbox-group {
        margin: 15px;
    }
}