<div class="inner-main">
    <div class="singleProductContainer" *ngIf="!loading && product">
        <p>
            <a routerLink="/products" [queryParams]="{type: product.type}">
                Category: {{product.type | lowercase | capitalizePipe}}{{product.type === productType.BREAD ? "": "s"}}
            </a>
        </p>
        <hr>
        <div class="tagsHolder">
            <p class="tag" *ngFor="let tag of product.tags">
                <a [routerLink]="'/search'" [queryParams]="{searchstring: tag}">{{tag}}</a>
            </p>
        </div>
        <div class="topLine">
            <h1>{{product.title}}</h1>
            <div class="reviewScoreHolder">
                <h2>{{product.averageRating ? (product.averageRating | number: '1.1-1') : 'N/A'}}</h2>
                <a [routerLink]="'./reviews'" [queryParams]="{scroll: true}">
                    <app-review-stars [rating]="product.averageRating">
                    </app-review-stars>
                </a>
            </div>
        </div>
        <div class="main-blocks">
            <div class="left-block">
                <div class="product-image-holder">
                    <img [src]="'../../../../assets/products/' + product.imageUrl" [alt]="product.title">
                </div>
            </div>
            <div class="right-block">
                <div class="available" [ngClass]="{unavailable: !product.stock}">
                    <p>
                        <fa-icon class="stockIcon" [icon]="product.stock ? faCheckCircle : faTimesCircle">
                        </fa-icon>
                        &nbsp;
                        {{product.stock ? 'In stock' : 'Sold out'}}
                        <span class="stockCount">{{product.stock ? '(' + product.stock + ')' : ''}}</span>
                    </p>
                </div>
                <div class="priceAndCartHolder">
                    <h1>
                        <span class="discount item-discount" *ngIf="product.discountPrice">€{{product.price}} </span>
                        €{{product.discountPrice ? product.discountPrice : product.price}}
                    </h1>
                    <div class="plusMinusOuter" *ngIf="cartItem">
                        <p>Item is in your shopping cart</p>
                        <app-plusminus
                        [item]="cartItem"
                        [noDelete]="true"
                        [noFloat]="true">
                        </app-plusminus>
                    </div>
                    <div class="outer-cartbutton-wrapper-item">
                        <app-cartbutton [product]="product">
                        </app-cartbutton>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-blocks">
            <div class="left-block">
                <ul class="productUl">
                    <a 
                    [routerLink]="'/products/' + product._id"
                    [routerLinkActive]="'active'" 
                    [routerLinkActiveOptions]="{exact: true}">
                        <li>Description</li>
                    </a>
                    <a [routerLink]="'/products/' + product._id + '/reviews'"
                    [routerLinkActive]="'active'">
                        <li>Reviews ({{reviewCount > 10 ? '10+': reviewCount}})</li>
                    </a>
                    <a 
                    [routerLink]="'/products/' + product._id + '/orders'"
                    [routerLinkActive]="'active'"
                    *ngIf="isAuth">
                        <li>Orders</li>
                    </a>
                </ul>
                <div class="itemRouterContainer">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="right-block">
                <div class="postReview general" *ngIf="product.hasOrdered">

                    <p>
                        {{product.hasReviewed ? "You reviewed this product" : "You have not reviewed this product yet"}}
                    </p>

                    <div class="ownReview" *ngIf="userReview">
                        <app-review-stars 
                        [rating]="userReview.rating"
                        [noTitle]="true">
                        </app-review-stars>
                    </div>

                    <button (click)="writeReview()">
                        {{product.hasReviewed ? "Update review" : "Write review"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="singleProductLoaderContainer" *ngIf="loading || !product && !error">
        <app-spinner [purple]="true"></app-spinner>
    </div>
    <div *ngIf="!loading && !product && error">
        <app-failed-to-load
        [error]="error"
        (loadAgainEvent)="loadProduct()">
        </app-failed-to-load>
    </div>
</div>