.main-blocks {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 0 25px 0;
}

.topLine {
    margin-top: 25px;
}

.topLine h1 {
    margin: 0 0 20px 0;
}

.topLine h2 {
    margin-top: 4px;
}

.left-block {
    width: 67%;
}

.reviewScoreHolder {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.outerFlex {
    width: 67%;
    display: flex;
    justify-content: space-between;
}

.right-block {
    width: 30%;
}

.topLine {
    display: flex;
    width: 67%;
    justify-content: space-between;
}

.product-image-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #9facbd;
    border-radius: 5px;
    height: 290px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.462);
}

.product-image-holder img {
    height: 100%;
}

.singleProductLoaderContainer {
    overflow: hidden;
}

.priceAndCartHolder {
    padding: 15px 12px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #00aaff;
    box-sizing: border-box;
    text-align: center;
    max-height: 224px;
}

.priceAndCartHolder h1 {
    margin-top: 5px;
}

.plusMinusOuter p {
    margin-bottom: 10px;
}

.available {
    width: 100%;
    background-color: rgb(196, 244, 255);
    padding: 15px 12px;
    border-radius: 5px;
    border: 1px solid #00aaff;
    box-sizing: border-box;
}

.available.unavailable {
    background-color: rgb(255, 205, 220);
    border: 2px solid #ff005d;
}

.available p {
    margin: 0;
}

.stockIcon {
    color: #00aaff;
}

.available.unavailable .stockIcon {
    color: #ff005d;
}

.stockCount {
    float: right;
}

.productUl {
    padding: 0;
    margin: 0;
}

.productUl li {
    display: inline-block;
    padding: 10px 25px;
    color: #00aaff;
    font-size: 22px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #00aaff;
    border-top: none;
}

.productUl a.active > li {
    background-color: #00aaff;
    color: #fff;
}

.itemRouterContainer {
    margin-top: 20px;
}

.postReview {
    margin-top: 0px;
    width: 100%;
    padding: 15px 12px;
    box-sizing: border-box;
    border: 1px solid #00aaff;
    border-radius: 5px;
    height: 167px;
}

.postReview p, .postReview button {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.ownReview {
    width: 150px;
    display: block;
    margin: 20px auto;
}

.item-discount {
    color: rgb(162, 162, 162);
}

.outer-cartbutton-wrapper-item {

    max-width: 240px;
    display: block;
    margin: auto;
}

@media all and (max-width: 900px) {

    .topLine {
        width: 100%;
    }

    .main-blocks {
        width: 100%;
        display: block;
    }

    .left-block, .right-block {
        width: 100%;
    }

    .available {
        margin-top: 10px;
    }

    .priceAndCartHolder h1 {

        margin-top: 0;
    }

    .productUl li {
        padding: 10px 19px;
        font-size: 21px;
    }

    .postReview.general {
        display: none;
    }
}