<div class="success-order">
    <fa-icon 
    [icon]="cancelled ? faTimesCircle : faCheckCircle" 
    class="success-icon"
    [ngClass]="{error: cancelled}"></fa-icon>
    <h1 class="success-confirm">{{cancelled ? "Cancelled" : "Success!"}}</h1>
</div>
