.success-order {
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin: auto;
}

.success-confirm {
    font-size: 40px;
}

.success-icon {
    font-size: 90px;
    color: #d34286;
}

.success-icon.error {
    color: #f00;
}