<div id="loadElement" #load
(window:wheel)="wheelTrigger($event)"
(window:touchstart)="swipePre($event, 'start')" 
(window:touchend)="swipePre($event, 'end')">
</div>
<div class="loader-holder" *ngIf="loading">
    <app-spinner [purple]="true"></app-spinner>
</div>
