.searchBar form {
    width: 394px;
}

form .searchButtons {
    float: right;
    z-index: 5;
    width: 45px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-28px);
}

.searchBar input {
    font-size: 20px;
    padding: 8px 75px 8px 8px;
    width: 410px;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    display: inline-block;
}

.searchBar.mobile {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.searchBar.mobile form {
    width: 100%;
    box-sizing: border-box;
}

.searchBar.mobile input {
    width: 100%;
    box-sizing: border-box;
}

.searchBar.mobile form .searchButtons {
    margin-right: 10px;
}

.search-icon {
    cursor: pointer;
    transition: color 1s ease;
}

.search-icon.changed {
    color: #f37aaf;
}