<div class="searchBar" [ngClass]="{mobile: mobile}">
    <form [formGroup]="searchForm" (submit)="searchItems()">
        <input 
        type="text" 
        formControlName="search"
        (input)="changeSearch()"
        #mainSearchBar
        placeholder="Search products...">
        <div class="searchButtons">
            <fa-icon 
            [icon]="faSearch" 
            class="search-icon" 
            title="Search"
            (click)="searchItems()"></fa-icon>
            <fa-icon 
            [icon]="faCog" 
            class="search-icon"
            [ngClass]="{changed: changedAdvanced}"
            [title]="'Advanced options' + (changedAdvanced ? ' (changed)' : '')"
            (click)="toggleSearchOptions($event)">
            </fa-icon>
        </div>
    </form>
</div>
