<div class="innerLoginWrapper">
    <h1 class="bluexBoxHeadline authHeadline">Request password reset</h1>
    <form [formGroup]="reqResetPasswordForm" (submit)="reqPasswordReset()">
        <div class="formGroup auth">
            <label for="email">Email</label>
            <input 
            type="email" 
            name="email" 
            id="email" 
            formControlName="email"
            placeholder="example@gmail.com">
            <app-error-message 
            [error]="'Invalid email format'" 
            *ngIf="reqResetPasswordForm.controls.email.errors &&
            reqResetPasswordForm.controls.email.touched">
            </app-error-message>
        </div>
        <a 
        routerLink="/auth" 
        class="switchLink centered">
            Cancel
        </a>
        <button 
        type="submit" 
        class="loginButton" 
        [disabled]="reqResetPasswordForm.invalid"
        >
            Reset password
        </button>
    </form>
</div>
