<div class="backDrop" [ngClass]="{visible: enabled}" (click)="close()">
    <div (click)="$event.stopPropagation()" [@slideInOut] *ngIf="enabled">
        <div 
        class="loginBox" 
        >
            <div class="innerPopup" *ngIf="!loading">
                <span class="x-button" (click)="close()">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </span>
                <h1>{{twoFactor ? 'Two-factor Authentication' : 'Please login to continue'}}</h1>
                <form [formGroup]="loginForm" (submit)="login()" *ngIf="!twoFactor">
                    <div class="formGroup auth">
                        <label for="email">Email</label>
                        <input type="email" name="email" placeholder="example@gmail.com" id="email" formControlName="email">
                        <app-error-message [error]="'Invalid email format'" *ngIf="loginForm.controls.email.errors &&
                        loginForm.controls.email.touched">
                        </app-error-message>
                    </div>
                    <div class="formGroup auth">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="8-25 characters"
                            formControlName="password">
                        <app-error-message [error]="'Password is required'" *ngIf="loginForm.controls.password.errors &&
                        loginForm.controls.password.errors.required &&
                        loginForm.controls.password.touched">
                        </app-error-message>
                    </div>
                    <a routerLink="/auth/signup" class="switchLink centered" (click)="close()">Or sign up here</a>
                    <button 
                    type="submit" 
                    class="loginButton"
                    [disabled]="loginForm.invalid"
                    >Login</button>
                    <br>
                </form>
                <form 
                [formGroup]="twoFactorForm" 
                *ngIf="twoFactor"
                (submit)="twoFactorAuth()">
                    <div class="formGroup auth">
                        <label 
                        for="twoFactor" 
                        title="Open the Authy app on your phone and enter the token here">
                            Authy-Token
                        </label>
                        <input 
                        type="text" 
                        name="twoFactor" 
                        id="twoFactor"
                        (input)="formatDigits($event)"
                        maxlength="9" 
                        formControlName="authyToken"
                        placeholder="Ex. 12 345 67">
                        <app-error-message 
                        [error]="'Token must have 7 digits'" 
                        *ngIf="twoFactorForm.controls.authyToken.errors &&
                        twoFactorForm.controls.authyToken.touched && enabled">
                        </app-error-message>
                    </div>
                    <div class="formGroup auth">
                        <label for="saveDevice">Remember this device</label>
                        <div id="saveDevice">
                            <app-checkbox 
                            [enabled]="twoFactorForm.value.saveDevice"
                            (toggle)="toggleCheckbox($event)"></app-checkbox>
                        </div>
                    </div>
                    <p 
                    class="switchLink centered" 
                    (click)="sendSms()"
                    *ngIf="!sentSms">
                        Want to recieve the token per SMS instead?
                    </p>
                    <button 
                    type="submit" 
                    class="loginButton" 
                    [disabled]="twoFactorForm.invalid"
                    >
                        Submit
                    </button>
                </form>
            </div>
            <app-spinner *ngIf="loading">
            </app-spinner>
        </div>
        <div [ngStyle]="{display: 'block', margin: '20px auto 0 auto', width: '300px'}">
            <app-error [errorMessage]="errorMessage" [error]="errorMessage">
            </app-error>
        </div>
    </div>
</div>