.loginBox {
    width: 450px;
    background-color: #00aaff;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerPopup {
    width: 100%;
}

.loginBox h1 {
    color: #fff;
}

.x-button{
    cursor: pointer;
    float: right;
}

@media all and (max-width: 600px) {

    .loginBox {

        width: 100vw;
    }
}