.sendButton {

    font-size: 25px;
    padding: 5px;
    color: #00aaff;
    cursor: pointer;
    transition: color 0.4s ease;
}

.sendButton.invalid {

    color: #9facbd;
    cursor: not-allowed;
}

.typing-panel {

    position: relative;
    z-index: 4;
    box-shadow: 10px 0 8px #fff;
    height: 110px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.typing-panel form {

    width: 100%;
    height: 100%;
}

.messages-container {
    width: 100%;
    height: calc(100% - 200px);
    box-sizing: border-box;
    padding: 0px 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.fields-holder {

    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.messages-container.noFlex {

    display: block;
}

.messageLoopHolder {

    width: 100%;
    box-sizing: border-box;
    padding-right: 45px;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    background-color: #fff;
    transition: transform 0.3s ease;
    z-index: 5;
}

.messageLoopHolder.pulled {
    transition: none;
    overflow: hidden;
}

.pull {
    width: calc(100% - 16px);
    position: absolute;
    height: 50px;
    background-color: #9facbd;
    top: 0;
    transition: opacity 0.3s ease;
}

.pull.pulled {
    transition: none;
}

.typing-panel input {

    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #9facbd;
    transition: border 0.4s ease;
    height: 36px;
    width: calc(100% - 40px);
}

.subject-box {
    width: calc(100% - 40px);
}

.typing-panel input:focus {

    border: 2px solid #00aaff;
    outline: none;
}

.typing-panel input.ng-touched.ng-invalid {
    border: 2px solid #ff005d;
    background-color: rgb(255, 211, 211);
}

.typing-panel input.subject-input {

    width: calc(100% - 40px);
}

.beginning {

    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.beginning p {
    font-size: 17px;
    color: #b8447a;
}

.typing-holder {

    margin-top: 20px;
}

.typing-avatar-holder {

    display: inline-block;
    margin-right: 10px;
}

.messages-loader-holder {
    width: 100%;
    overflow: hidden;
}

.outer-subject-box {
    margin-bottom: 5px;
}

.subject-box {
    display: flex;
    justify-content: space-between;
}

.backMessageLinkDiv {
    display: none;
}

.subject-close {
    padding: 10px 15px;
    cursor: pointer;
}

.messageTopBar.messages {

    display: flex;
    justify-content: space-between;
}

.messageMenuHolder {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageMenuIcon {

    font-size: 25px;
    color: #b8447a;
    cursor: pointer;
}

.messagePopupMenu {
    width: 250px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 12;
    position: absolute;
    display: inline-block;
    top: 45px;
    right: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.415);
}

.messagePopupMenu ul {

    padding: 0;
    margin: 0;
}

.messagePopupMenu ul li {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.toggle-slider-holder {

    float: right;
}

.hover-container {
    position: absolute;
    width: calc(100% - 20px);
    z-index: 13;
    display: flex;
    justify-content: center;
    overflow: hidden;
    pointer-events: none;
}

.hover-container.top {

    top: 30px;
}

.scroll-bottom-arrow-holder {

    bottom: 5px;
}

.scroll-bottom-icon {

    cursor: pointer;
    border-radius: 50%;
    color: #fff;
    font-size: 21.5px;
    display: inline-block;
    pointer-events: all;
}

.fa-div {

    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #00aaff;
    cursor: pointer;
    pointer-events: all;
}

.dots-more {
    font-size: 22px;
    color: #fff;
    top: 1px;
    position: relative;
}

.fa-div.newMessage {

    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 49% {
      background-color: #00aaff;
    }
    50%, 100% {
      background-color: #f37aaf;
    }
  }

@media all and (max-width: 900px) {

    .backMessageLinkDiv {
        display: block;
    }
    
    .backMessageLinkDiv a {
        margin-top: 7px;
        margin-left: 15px;
        display: inline-block;
    }

    .messageHL.messages {

        margin-top: 10px;
    }

    .messageTopBar.messages {

        height: 75px;
    }
    
}