<div class="message-column" 
*ngIf="conversation && messageForm" 
(window:click)="messageMenu = false;">

    <div class="messageTopBar messages">
        <div class="profileDiv">
            <div class="backMessageLinkDiv">
                <a [routerLink]="'/messages'">Back to messages</a>
            </div>
            <div style="display: inline-block; margin-left: 10px; position: relative; top: -4px">
                <app-avatar [name]="getOtherParticipantName()"></app-avatar>
            </div>
            <div style="display: inline-block;">
                <h1 class="messageHL messages">
                    {{getOtherParticipantName() | capitalizePipe}}
                </h1>
            </div>
        </div>
        <div class="messageMenuHolder">
            <fa-icon 
            [icon]="faEllipsisV" 
            class="messageMenuIcon"
            (click)="toggleMessageMenu($event)"></fa-icon>

            <div class="messagePopupMenu" 
            *ngIf="messageMenu" 
            (click)="$event.stopPropagation()">
                <ul>
                    <li>
                        <span (click)="setSendEmail()">
                            Send email notifications
                        </span>
                        <div class="toggle-slider-holder">
                            <app-toggle-slider 
                            [value]="me && me.sendEmail"
                            (setValueEvent)="setSendEmail()"
                            [color]="'#b8447a'"
                            ></app-toggle-slider>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="messages-container" [ngClass]="{noFlex: messageLoading && !messages.length}">

        <div class="messages-loader-holder" *ngIf="messageLoading && !messages.length">
            <app-spinner [purple]="true"></app-spinner>
        </div>

        <div class="pull" 
        [ngStyle]="{opacity: swipeDiff / 50}"
        [ngClass]="{pulled: swipeDiff}">
        </div>
        <div class="hover-container top" 
        *ngIf="!messageEnd">

            <div 
            class="fa-div"
            title="There are more messages to load"
            (click)="loadMoreMessages(true)">
                <fa-icon
                class="dots-more"
                [icon]="faEllipsisH"></fa-icon>
            </div>
        </div>
        <div
        [ngClass]="{pulled: swipeDiff}"
        (click)="markAsReadIfScrolledDownToBottom()"
        (touchmove)="touchMove($event)"
        (touchstart)="touchScroll($event, 'start')"
        (touchend)="touchScroll($event, 'end')"
        *ngIf="!messageLoading || messages.length" 
        class="messageLoopHolder"
        [ngStyle]="{transform: 'translateY(' + swipeDiff + 'px)'}"
        #scrollMe
        (wheel)="preventAutoBottomScroll($event)"
        (scroll)="scrollMessageWindow()">

            <span #beginningSpan></span>
            <div class="beginning" *ngIf="messageEnd">
                <p>This is the beginning of your conversation with 
                    {{getOtherParticipantName() | capitalizePipe}}
                </p>
            </div>
            <app-error-block [error]="messageError" *ngIf="!messageLoading"></app-error-block>
            <app-scroll-load 
            [loading]="messageLoading" 
            [inverted]="true"
            (triggerLoadEvent)="loadMoreMessages()" 
            *ngIf="messages.length"></app-scroll-load>

            <app-message 
            *ngFor="let message of messages; let i = index"
            [user]="user"
            [retry]="message.messageIndError && i === messages.length-1 ||
            message.messageIndError && i < (messages.length-1) && messages[i+1].messageIndLoading" 
            [message]="message"
            [firstFromUser]="messages[i-1] && messages[i-1].from._id !== message.from._id"
            [date]="!messages[i-1] 
            || dateDiffFiveMins(message.createdAt, messages[i-1].createdAt)"></app-message>

            <div class="typing-holder" 
            *ngIf="getOtherParticipant().typingNow">
                <div class="typing-avatar-holder">
                    <app-avatar 
                    [name]="getOtherParticipantName()">
                    </app-avatar>
                </div>
                <div style="display: inline-block;">
                    <app-typing-indicator
                    style="display: inline-block;"
                    [typing]="true"
                    [big]="true"
                    [respondent_name]="getOtherParticipantName() | capitalizePipe">
                    </app-typing-indicator>
                </div>
            </div>
            <span class="bottomRef" #bottomRef></span>
        </div>
        <div class="hover-container scroll-bottom-arrow-holder" *ngIf="notScrolledDownEntirely"
        >
            <div class="fa-div" (click)="scrollToBottom()"
            [ngClass]="{newMessage: messagesToRead}">
                <fa-icon 
                class="scroll-bottom-icon" 
                [icon]="faArrowDown"
                ></fa-icon>
            </div>
        </div>
    </div>
    <div class="typing-panel" *ngIf="messageForm">
        <div class="fields-holder" *ngIf="!conversation.reply">
            <div class="content-box">
                <input
                type="text"
                placeholder="You can't reply to this user"
                disabled>
                <fa-icon class="sendButton"
                [ngClass]="{invalid: true}" 
                [icon]="faPaperPlane"></fa-icon>
            </div>
        </div>
        <form 
        [formGroup]="messageForm" 
        *ngIf="conversation.reply"
        (keydown)="formKeyPress($event)">
            <div class="fields-holder">
                <div 
                class="outer-subject-box" 
                *ngIf="subject">
                    <div class="subject-box">
                        <fa-icon
                        [icon]="faTimes"
                        (click)="subject = false"
                        class="subject-close">
                        </fa-icon>
                        <input
                        (change)="setTyping()"
                        class="subject-input"
                        [formControlName]="'subject'"
                        type="text" 
                        placeholder="Subject (optional)">
                    </div>
                </div>
                <div class="outer-content-box">
                    <small 
                    class="addSubject messageLink"
                    *ngIf="!subject"
                    (click)="subject = true">Add subject line (optional)</small>
                    <div class="content-box">
                        <input
                        type="text"
                        (change)="setTyping()"
                        placeholder="Your message here..."
                        [formControlName]="'content'">
                        <fa-icon class="sendButton"
                        [ngClass]="{invalid: messageForm.invalid}" 
                        [icon]="faPaperPlane"
                        (click)="reply()"
                        title="Send message"></fa-icon>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="message-column full" *ngIf="!conversation || !this.messageForm">
    <div class="messages-loader-holder">
        <app-spinner [purple]="true"></app-spinner>
    </div>
</div>
