.expanded li img {
    margin-top: 5px;
    width: 190px;
    display: block;
}
.expanded {
    overflow: hidden;
}

.expanded strong {
    margin-left: 18px;
    font-size: 24px;
}

.expanded li {
    font-size: 20px;
}

.expanded button {
    display: block;
    margin: 0 auto 20px auto;
}