<div class="expanded" *ngIf="enabled" [@simpleExCoAnimation]>
    <ol>
        <li *ngFor="let step of content.steps">
            <a 
            *ngIf="step.link" 
            [href]="step.url" 
            target="_blank" 
            rel="noreferrer noopener" 
            class="standard">
                {{step.desc}}
            </a>
            <p *ngIf="!step.link">
                {{step.desc}}
            </p>
            <img *ngIf="step.img" [src]="'../../../assets/' + step.img" class="qr" />
        </li>
    </ol>
    <div *ngIf="content.or">
        <strong>OR</strong>
        <ol>
            <li *ngFor="let step of content.or; let i = index" class="orTag">
                <p>{{step.desc}}</p>
            </li>
        </ol>
    </div>
    <button type="button" (click)="close()">Close</button>
</div>