#continue-to-front {
    display: block;
    margin: 0 auto 10px auto;
    text-align: center;
}

.success-order {
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin: auto;
}

.success-confirm {
    font-size: 40px;
}

.success-icon {
    font-size: 90px;
    color: #d34286;
}

.changeLink {
    display: inline-table;
    transform: translateY(-10px);
    font-size: 19px;
    margin-left: 7px;
}

.order-success-component .cancelLink {
    cursor: pointer;
}