<div class="inner-main order-success-component">
    
    <div *ngIf="order && !loading">
        <h1>Order confirmation</h1>

        <app-order-result></app-order-result>

        <h2 class="overline">Order details</h2>
        <hr>

        <app-product-list 
        [products]="order.product_docs" 
        [cartItems]="order.products"
        [success]="true"></app-product-list>

        <h2 *ngIf="order.express">Express shipping (+ €3.99)</h2>
        <br>
        <h2>Sum: €{{order.sum}}</h2>

        <h2 class="overline">Delievery address<span class="changeLink">
            <a [routerLink]="'/orders/' + order._id" [queryParams]="{changeaddress: true}">Change</a></span>
        </h2>
        <hr>
        <app-address-box *ngIf="address" [address]="address"></app-address-box>

        <h2>{{order.status !== orderStatus.DELIEVERED ?
            'Estimated delievery: ' + (order.estimatedDelievery | readableTimestamp | zeroHour) :
            'Delievered'}}
        </h2>

        <button [routerLink]="'/'" id="continue-to-front">
            Continue
        </button>
        <p *ngIf="order.status !== orderStatus.DISPATCHED && order.status !== orderStatus.DELIEVERED" 
        (click)="cancel()" class="cancelLink">Cancel</p>
    </div>

    <div style="overflow: hidden;" *ngIf="loading">
        <app-spinner [purple]="true"></app-spinner>
    </div>

    <div *ngIf="!loading && !order && error">
        <app-failed-to-load
        [error]="error"
        (loadAgainEvent)="loadOrder()">
        </app-failed-to-load>
    </div>

    <div class="innerErrorHolder" *ngIf="!loading && order && error">
        <app-error [error]="error" [errorMessage]="error"></app-error>
    </div>
</div>
