.cartButtonHolder {
    float: right;
    display: flex;
    align-items: center;
    height: 70px;
}

.cartButtonHolder.noFloat {
    float: none;
    height: auto;
    justify-content: center;
    margin: 0 auto 20px auto;
}

.cartButtonHolder h1 {
    margin: 0 9px;
}

.cartIcon {
    font-size: 26px;
    cursor: pointer;
    color: #b8447a;
    transition: transform 0.4s ease;
}

.cartIcon:hover, .cartIcon:focus {
    transform: scale(1.1);
}

.cartIcon.delete {
    margin-left: 17px;
}

.cartIcon.disabled {
    transform: none;
    cursor: not-allowed;
    color: rgb(137, 137, 137);
}