<div class="cartButtonHolder"
[ngClass]="{noFloat: noFloat}">
    <fa-icon
    title="Subtract count"
    [icon]="faMinus"
    [class]="{disabled: item.count === 1}"
    class="cartIcon"
    (click)="changeCount(item, -1)">
    </fa-icon>
    <h1>{{item.count}}</h1>
    <fa-icon
    title="Add count"
    [icon]="faPlus"
    class="cartIcon"
    [class]="{disabled: item.count === item._id.stock}"
    (click)="changeCount(item, 1)">
    </fa-icon>
    <fa-icon
    *ngIf="!noDelete"
    (click)="deleteItem(item._id._id)"
    title="Delete item"
    [icon]="faTrash"
    class="cartIcon delete">
    </fa-icon>
</div>

