option {
    text-transform: capitalize;
}

.topBar {
    padding: 15px;
    width: 100%;
    border: 2px solid #d34286;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    height: 104px;
    display: flex;
    justify-content: center;
}

.topBar.noFlex {
    border-radius: 0;
    border: none;
    justify-content: space-between;
    padding: 15px 0;
}

.selects {
    margin: 0 20px;
}

.topBar.noFlex .selects {
    display: inline-block;
    margin: 0;
}

.selects label {
    font-size: 22px;
    display: block;
}

.selects select {
    padding: 10px;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid #00aaff;
}

@media all and (max-width: 500px) {

    .selects {
        margin: 0 11px;
    }

    .selects select {

        width: 110px;
    }
}