<div class="topBar" [ngClass]="{noFlex: noFlex}">
    <div class="selects" id="sortSelect">
        <label for="sortReviewsAfter">
            Sort by
        </label>
        <select 
        (change)="setSort($event)"
        name="sortReviewsAfter"
        id="sortReviewsAfter"
        >
            <option *ngFor="let option of sortAfter | keyvalue"
            [value]="option.value"
            [selected]="option.value === sortValue">
                {{option.value | lowercase | capitalizePipe | removeChar: '_'}}
            </option>
        </select>
    </div>
    <div class="selects" id="orderSelect">
        <label for="order">Order</label>
        <select 
        name="order" 
        id="order"
        (change)="setOrder($event)">
            <option
            *ngFor="let option of sortOrder | keyvalue"
            [value]="option.value"
            [selected]="option.value === orderValue">
                {{option.value | lowercase | capitalizePipe}}
            </option>
        </select>
    </div>
</div>
