<div class="settingsWrapper">
    <div class="blueBox">
        <div class="wide-wrapper">
            <app-result *ngIf="info" [text]="info"></app-result>
            <div class="settingsLoaderHolder" *ngIf="loading || !settingsForm">
                <app-spinner>
                </app-spinner>
            </div>
            <div *ngIf="!info && !loading && settingsForm">
                <h1 class="bluexBoxHeadline">User settings</h1>
                <form 
                [formGroup]="settingsForm"
                (submit)="saveSettings()">
                    <h3>Basic info</h3>
                    <hr>
                    <div class="holder">
                        <div class="inner-control">
                            <label for="oldPassword">Password *</label>
                            <input 
                            type="password" name="oldPassword" id="oldPassword" formControlName="oldPassword"
                            placeholder="Required">
                            <app-error-message
                                [error]="'Password is required'"
                                *ngIf="settingsForm.controls.oldPassword.errors &&
                                settingsForm.controls.oldPassword.touched">
                            </app-error-message>
                        </div>
                        <div class="inner-control" [ngClass]="{helpExtension: help}">
                            <label for="email" style="display: inline-block;">Email</label>
                            &nbsp;
                            <fa-icon class="helpCircle" 
                            [icon]="faQuestionCircle"
                            (click)="help = !help">
                            </fa-icon>
                            <app-helper
                            (closeHelper)="help = false"
                            [enabled]="help"
                            [content]="helpSteps"></app-helper>
                            <input type="email" name="email" id="email" formControlName="email"
                                placeholder="example@gmail.com">
                            <span class="bullet" 
                            *ngIf="details && details.email && details.email.changed"
                            title="Edited"></span>
                            <app-error-message 
                            [error]="settingsForm.controls.email.errors.emailExists ?
                            'This email has already been registered' 
                            : 'Invalid email format'" 
                            *ngIf="settingsForm.controls.email.errors &&
                                settingsForm.controls.email.touched">
                            </app-error-message>
                        </div>
                    </div>
                    <div class="holder">
                        <div class="inner-control">
                            <label for="firstName">First name</label>
                            <input type="text" name="firstName" id="firstName" 
                            formControlName="firstName"
                            placeholder="John"
                            maxlength="20">
                            <span class="bullet" 
                            *ngIf="details && details.firstName && details.firstName.changed"
                            title="Edited"></span>
                            <app-error-message 
                            [error]="settingsForm.controls.firstName.errors &&
                            settingsForm.controls.firstName.errors.required ?
                            'First name is required' : 'Invalid name format'" 
                            *ngIf="settingsForm.controls.firstName.errors &&
                            settingsForm.controls.firstName.touched">
                            </app-error-message>
                        </div>
                        <div class="inner-control">
                            <label for="lastName">Last name</label>
                            <input 
                            type="text" 
                            name="lastName" 
                            id="lastName" 
                            formControlName="lastName" 
                            placeholder="Doe"
                            maxlength="20">
                            <span class="bullet" 
                            *ngIf="details && details.lastName && details.lastName.changed"
                            title="Edited"></span>
                            <app-error-message
                            [error]="settingsForm.controls.firstName.errors && 
                            settingsForm.controls.firstName.errors.required ?
                            'Last name is required' : 'Invalid name format'"
                            *ngIf="settingsForm.controls.lastName.errors &&
                            settingsForm.controls.lastName.touched">
                            </app-error-message>
                        </div>
                    </div>
                    <div class="holder">
                        <div class="inner-control extended">
                            <label for="password">New password</label>
                            <input 
                            type="password" name="password" id="password" formControlName="password"
                            placeholder="8-25 characters">
                            <span class="bullet" 
                            *ngIf="settingsForm.value.password"
                            title="Edited"></span>
                            <app-error-message
                                [error]="settingsForm.controls.password.errors.minlength ||
                                    settingsForm.controls.password.errors.maxlength ?
                                    (settingsForm.controls.password.errors.minlength ?
                                    'Password must be min 8 characters' :
                                    'Password must not be longer than 25 characters') : 
                                    'The password must contain a number, a lower- and a uppercase character, and a special character'"
                                *ngIf="settingsForm.controls.password.errors && 
                                settingsForm.controls.password.touched">
                            </app-error-message>
                        </div>
                        <div class="inner-control">
                            <label for="password">Repeat password</label>
                            <input type="password" name="repeatPassword" id="repeatPassword"
                                formControlName="repeatPassword" placeholder="Passwords must match">
                            <span class="bullet" 
                            *ngIf="settingsForm.value.repeatPassword"
                            title="Edited"></span>
                            <app-error-message *ngIf="settingsForm.controls.repeatPassword.touched
                                    && settingsForm.controls.repeatPassword.errors" [error]="'The passwords do not match'">
                            </app-error-message>
                        </div>
                    </div>
                    <h3>Phone and 2FA</h3>
                    <hr>
                    <div class="holder">
                        <div class="inner-control" style="position: relative;">
                            <label for="phone">Cellphone</label>
                            <span class="bullet right-align" 
                            *ngIf="details && details.phoneCountryCode && 
                            details.phoneCountryCode.changed ||
                            details && details.phone && details.phone.changed"
                            title="Edited"></span>
                            <div class="phone-holder">
                                <app-country-code
                                [small]="true"
                                [inputCountryCode]="settingsForm.controls.phoneCountryCode.value.toLowerCase()"
                                (country)="setCountry($event, 'phoneCountryCode')" [includePlus]="true">
    
                                    <app-country-select-button 
                                    [countrySelected]="phoneCountrySelected"
                                    [small]="true"></app-country-select-button>
                                </app-country-code>
                                <input 
                                type="text" 
                                name="phone" 
                                placeholder="ex. 123 456 789 0"
                                id="phone"
                                maxlength="14"
                                (input)="formatNumber($event)"
                                formControlName="phone">
                            </div>
                            <app-error-message *ngIf="settingsForm.controls.phone.touched
                            && settingsForm.controls.phone.errors" 
                            [error]="settingsForm.controls.phone.errors.required ? 'Phone number is required' 
                            : (settingsForm.controls.phone.errors.phoneExists ? 'This phone number has already been registered' :
                            'Invalid phone number format')">
                            </app-error-message>
                        </div>
                        <div class="inner-control">
                            <label for="twoFactorAuth">Two-factor authentication</label>
                            <div id="twoFactorAuth">
                                <app-checkbox 
                                [enabled]="settingsForm.value.twoFactorAuth"
                                (toggle)="setCheckBox($event)">
                                </app-checkbox>
                                <span class="bullet" 
                                *ngIf="details && details.twoFactorAuth && 
                                details.twoFactorAuth.changed"
                                title="Edited"></span>
                            </div>
                        </div>
                    </div>
                    <h3>Billing address</h3>
                    <hr>
                    <p>Address details are encrypted on the server.</p>
                    <div class="holder">
                        <div class="inner-control">
                            <label for="street">Street address</label>
                            <input 
                            type="text" 
                            name="street" 
                            id="street" 
                            formControlName="street"
                            maxlength="200"
                            placeholder="ex. 1 Oxford Street">
                            <span class="bullet" 
                            *ngIf="details && details.street && 
                            details.street.changed"
                            title="Edited"></span>
                            <app-error-message 
                            [error]="settingsForm.controls.street.errors.required ?
                            'Street address is required' : 'Invalid address format'" 
                            *ngIf="settingsForm.controls.street.errors &&
                            settingsForm.controls.street.touched"
                            >
                            </app-error-message>
                        </div>
                        <div class="inner-control">
                            <label for="additional">Address complement</label>
                            <input 
                            type="text" 
                            name="additional" 
                            id="additional" 
                            formControlName="additional"
                            placeholder="Optional"
                            maxlength="50">
                            <span class="bullet" 
                            *ngIf="details && details.additional && 
                            details.additional.changed"
                            title="Edited"></span>
                            <app-error-message 
                            [error]="'Maximum length exceeded'" 
                            *ngIf="settingsForm.controls.additional.errors &&
                            settingsForm.controls.additional.touched"
                            >
                            </app-error-message>
                        </div>
                    </div>
                    <div class="holder">
                        <div class="inner-control">
                            <label for="zip">Postal code</label>
                            <input 
                            type="text" 
                            name="zip" 
                            id="zip" 
                            formControlName="zip"
                            placeholder="ex. W1D 1BS"
                            maxlength="10">
                            <span class="bullet" 
                            *ngIf="details && details.zip && 
                            details.zip.changed"
                            title="Edited"></span>
                            <app-error-message 
                            [error]="settingsForm.controls.zip.errors.required ? 
                            'Postal code is required' :
                            'Invalid ' + settingsForm.value.countryCode.toUpperCase() +
                            ' postal code format'" 
                            *ngIf="settingsForm.controls.zip.errors &&
                            settingsForm.controls.zip.touched">
                            </app-error-message>
                        </div>
                        <div class="inner-control">
                            <label for="city">City</label>
                            <input type="text" name="city" id="city" formControlName="city"
                            placeholder="ex. London" maxlength="200">
                            <span class="bullet" 
                            *ngIf="details && details.city && 
                            details.city.changed"
                            title="Edited"></span>
                            <app-error-message 
                            [error]="settingsForm.controls.city.errors.required ?
                            'City is required' : 'Invalid city name format'" 
                            *ngIf="settingsForm.controls.city.errors &&
                            settingsForm.controls.city.touched">
                            </app-error-message>
                        </div>
                    </div>
                    <div class="holder">
                        <div class="inner-control">
                            <label for="province">Province</label>
                            <input 
                            type="text" 
                            name="province" 
                            id="province" 
                            formControlName="province"
                            placeholder="ex. England (Optional)"
                            maxlength="200">
                            <span class="bullet" 
                            *ngIf="details && details.province && 
                            details.province.changed"
                            title="Edited"></span>
                            <app-error-message 
                            [error]="'Invalid province name format'" 
                            *ngIf="settingsForm.controls.province.errors &&
                            settingsForm.controls.province.touched">
                            </app-error-message>
                        </div>
                        <div class="inner-control">
                            <label for="countryCode">Residence country</label>
                            <div id="countryCode">
                                <app-country-code
                                [inputCountryCode]="settingsForm.controls.countryCode.value.toLowerCase()"
                                (country)="setCountry($event, 'countryCode')" [includePlus]="true">
                                    <!-- the width and height will determine the click area for the Country code Selection -->
                                    <!-- includePlus: whether the formControl will have the '+' included in the country code (does not effect the country event) -->
    
                                    <app-country-select-button [countrySelected]="countrySelected"></app-country-select-button>
                                    <span class="bullet" 
                                    *ngIf="details && details.countryCode && details.countryCode.changed"
                                    title="Edited"></span>
                                </app-country-code>
                            </div>
                        </div>
                    </div>
                    <div class="settingsButtonHolder">
                        <button type="button" [routerLink]="'/'">Cancel</button>
                        <button type="submit" [disabled]="settingsForm.invalid">Save settings</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="settingsErrorMessageHolder" *ngIf="!loading && !info">
    <app-error *ngIf="error" [errorMessage]="error"></app-error>
</div>
