.settingsWrapper {
    justify-content: center;
    display: flex;
}

.settingsButtonHolder {
    width: 380px;
    margin: auto;
    justify-content: space-around;
    display: flex;
}

.settingsLoaderHolder {
    height: 200px;
    overflow: hidden;
}

.settingsErrorMessageHolder {

    display: flex;
    justify-content: center;
}

.helpCircle {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transform: translateY(-5px);
}

.settingsWrapper .inner-control {

    transition: height 0.6s ease;
}

.settingsWrapper .inner-control.helpExtension {

    height: 430px;
}

.bullet {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin: 10px 5px;
    cursor: default;
}

.bullet.right-align {
    right: -22px;
}

@media all and (max-width: 600px) {

    .settingsButtonHolder {
        width: 320px;
    }

    .settingsButtonHolder button {
        width: 130px;
    }
}