<div class="product-list-item review" 
[ngClass]="{isYou: user && review && user._id === review.creator._id || !review && user}">
    <div *ngIf="!edit && !loading && review">
        <span class="dropMenu" (click)="openContextMenu(review._id, $event)">
            <fa-icon [icon]="faEllipsisV">
            </fa-icon>
        </span>
        <div class="nameHolder">
            <h3>{{review.creator.name}}.</h3>&nbsp;
            <span class="you" *ngIf="user && user._id === review.creator._id">
                You
            </span>
            <br>
            <small>
                <span *ngIf="noLink" [title]="review.createdAt | readableTimestamp">
                    Posted {{review.createdAt | convertTimestamp}}
                </span>
                <span *ngIf="!noLink" [title]="review.createdAt | readableTimestamp">
                    Posted <a [routerLink]="'/reviews/' + review._id">{{review.createdAt | convertTimestamp}}</a>
                </span>
            </small>
            <small 
            *ngIf="(review.createdAt | readableTimestamp) !== (review.updatedAt | readableTimestamp)" 
            [title]="review.updatedAt | readableTimestamp">
                Updated {{review.updatedAt | convertTimestamp}}
            </small>
        </div>
        <div class="contextMenu" *ngIf="contextMenu && contextMenu === review._id">
            <ul>
                <div *ngIf="user && user._id === review.creator._id">
                    <li (click)="edit = true">Edit</li>
                    <li (click)="deleteReview()">Delete</li>
                </div>
                <li 
                *ngIf="user && user._id !== review.creator._id || !user"
                (click)="openReport($event)">Flag...</li>
            </ul>
        </div>
        <div class="reviewStarsHolder">
            <app-review-stars 
            [rating]="review.rating" 
            [noTitle]="true"
            >
            </app-review-stars>
        </div>
        <h1>{{review.title}}</h1>
        <p *ngIf="review.content">
            {{review.content}}
        </p>
        <br>
        <div class="voteHolder">
            <div class="voteButtons" *ngIf="user && user._id !== review.creator._id || !user">
                <span 
                class="vote" 
                title="Thumbs up"
                (click)="user ? vote(true) : login(true, $event)"
                [ngClass]="{
                    thumbsUp: review.hasVoted && review.hasVoted.positive
                }">
                    <fa-icon 
                    [icon]="faThumbsUp">
                    </fa-icon>
                </span>
                <span
                (click)="user ? vote(false) : login(false, $event)"
                class="vote" 
                title="Thumbs down"
                [ngClass]="{
                    thumbsDown: review.hasVoted && !review.hasVoted.positive
                }">
                    <fa-icon 
                    [icon]="faThumbsDown">
                    </fa-icon>
                </span>
            </div>
            <span class="sum">
                {{review.voteSum ? review.voteSum : 0}} points
            </span>
        </div>
    </div>
    <div class="newReviewHolder" *ngIf="!loading && !review && !edit">
        <div class="innerNewReviewHolder">
            <p>You have bought but not reviewed this product</p>
            <br>
            <button (click)="edit = true">Write review</button>
        </div>
    </div>
    <div *ngIf="edit && !loading">

        <form [formGroup]="editForm" (submit)="saveReview()">

            <div class="formGroup">
                <label for="rating">Rating *</label>
                <div id="rating" class="reviewStarsHolder">
                    <app-review-stars 
                    [hover]="true"
                    [noTitle]="true"
                    (emitSetRating)="setRating($event)"
                    [rating]="editForm.value.rating">
                    </app-review-stars>
                </div>
            </div>

            <div class="formGroup">
                <label for="title">Title *</label>
                <input
                class="red" 
                type="text" 
                name="title" 
                id="title" 
                formControlName="title"
                placeholder="Required"
                >
                <app-error-message
                *ngIf="editForm.controls.title.touched
                && editForm.controls.title.errors"
                [error]="editForm.controls.title.errors.required ?
                'Title is required' : 
                (editForm.controls.title.errors.minlength ?
                'Title is too short'
                : 'Character limit exceeded')">
                </app-error-message>
            </div>
            <div class="formGroup">
                <label for="content">Content</label>
                <textarea 
                name="content" 
                id="content"
                placeholder="Max 500 characters"
                formControlName="content"></textarea>
                <app-error-message
                *ngIf="editForm.controls.content.touched
                && editForm.controls.content.errors"
                [error]="editForm.controls.content.errors.minlength ?
                'Content is too short' : 'Character limit exceeded'">
                </app-error-message>
            </div>
            <div class="itemButtons">
                <button type="button" (click)="cancelEdit()">Cancel</button>
                <button type="submit" [disabled]="editForm.invalid">Save</button>
            </div>
        </form>
    </div>
    <div class="loaderHolder" *ngIf="loading">
        <app-spinner [purple]="true" [blueBG]="true"></app-spinner>
    </div>
</div>