.review.isYou {
    background-color: rgb(196, 244, 255);
}

.reviewStarsHolder {
    width: 120px;
}

#rating {
    cursor: pointer;
}

.nameHolder {
    display: block;
    float: right;
    min-width: 100px;
    margin-right: 20px;
}

.review h1 {
    margin: 7px auto 0px auto;
}

.review h3 {
    margin-top: 5px;
    display: inline-block;
}

.review .sum {

    position: relative;
    top: 5px;
}

.you {
    color: #d34286;
}

.review p {
    margin: 20px 0 5px 0;
}

.review small {
    color: rgb(91, 91, 91);
    display: block;
    text-align: right;
}

.dropMenu {
    font-size: 24px;
    float: right;
    color: #d34286;
    cursor: pointer;
}

.contextMenu {
    position: absolute;
    right: 15px;
    top: 50px;
    border-radius: 5px;
    width: 100px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.415);
}

.contextMenu ul {
    padding: 0;
    margin: 0;
}

.contextMenu ul li {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.contextMenu ul li:hover,
.contextMenu ul li:focus {
    background-color: #ffcee5;
}

.voteButtons {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.vote {
    font-size: 30px;
    cursor: pointer;
}

.vote.thumbsUp {
    color: #00aaff;
}

.vote.thumbsDown {
    color: #d34286;
}

.sum {
    font-size: 19px;
}

.loaderHolder {
    height: 180px;
    overflow: hidden;
}

.newReviewHolder {
    display: flex;
    justify-content: center;
}

.innerNewReviewHolder button {
    text-align: center;
    display: block;
    margin: auto;
}

@media all and (max-width: 500px) {

    .nameHolder {

        margin-right: 9px;
    }

    .nameHolder h3 {
        font-size: 22px;
    }
}