<ul class="cartItems no-overflow" [ngClass]="{cancelled: cancelled}">
    <li *ngFor="let productItem of products; let i = index">
        <img class="productImg" [src]="'../../../assets/products/' + productItem.imageUrl">
        <a [routerLink]="'/products/' + productItem._id" *ngIf="links">
            <h2>{{productItem.title}} &nbsp; ({{cartItems[i].count}})</h2>
        </a>
        <h2 *ngIf="!links">{{productItem.title}} &nbsp; ({{cartItems[i].count}})</h2>
        <h2 class="order-item-price right">
            <span class="discount cancelled-discount" 
            *ngIf="productItem.discountPrice"
            [ngClass]="{success: success}">€{{productItem.price}}</span>
            €{{productItem.discountPrice ? productItem.discountPrice : productItem.price}}
        </h2>
    </li>
</ul>
