.avatar {

    font-size: 25px;
    color: #fff;
    margin: 0;
    top: 2px;
    position: relative;
}

.avatarHolder {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #00aaff;
    width: 35px;
    height: 35px;
    background-color: rgb(64, 64, 64);
}

.avatarHolder.unread {

    animation: blinkBorder 1s infinite;
}

@keyframes blinkBorder {
    0%, 49% {
      border: 2px solid #00aaff;
    }
    50%, 100% {
      border: 2px solid #f37aaf;
    }
  }