<div class="backDrop searchSettings" [ngClass]="{visible: enabled}" (click)="close($event)">

    <div class="searchSettingsWindow popup-window" (click)="$event.stopPropagation()">
        <div>
            <form [formGroup]="searchForm" (submit)="search()">
                <app-close-cross></app-close-cross>
                <h1>Search settings</h1>
                <div class="advanced-search-group">
                    <h2>Search string</h2>
                    <hr>
                    <div class="formGroup">
                        <input
                        (input)="changeSearchString()"
                        aria-label="Search field"
                        placeholder="Search products..."
                        formControlName="searchstring"
                        type="text" 
                        class="settingsSearch red">
                    </div>
                </div>
                <div class="advanced-search-group">
                    <h2>Categories</h2>
                    <hr>
                    <div class="advanced-search-inner-group flex">
                        <div>
                            <label for="bread">Bread</label>
                            <div id="bread">
                                <app-checkbox 
                                [border]="true"
                                (toggle)="setValue($event, 'bread')"
                                [enabled]="searchForm.value.bread"></app-checkbox>
                            </div>
                        </div>
                        <div>
                            <label for="cookie">Cookies</label>
                            <div id="cookie">
                                <app-checkbox 
                                [border]="true"
                                (toggle)="setValue($event, 'cookie')"
                                [enabled]="searchForm.value.cookie"></app-checkbox>
                            </div>
                        </div>
                        <div>
                            <label for="sweet">Sweets</label>
                            <div id="sweet">
                                <app-checkbox 
                                [border]="true"
                                (toggle)="setValue($event, 'sweet')"
                                [enabled]="searchForm.value.sweet"></app-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advanced-search-group">
                    <h2>In stock</h2>
                    <hr>
                    <app-checkbox 
                    [border]="true"
                    (toggle)="setValue($event, 'inStock')"
                    [enabled]="searchForm.value.inStock"></app-checkbox>
                </div>
                <div class="advanced-search-group">
                    <h2>Price</h2>
                    <hr>
                    <ngx-slider [options]="priceOptions"
                    (valueChange)="setValue($event, 'priceLow')"
                    [value]="searchForm.value.priceLow"
                    (highValueChange)="setValue($event, 'priceHigh')"
                    [highValue]="searchForm.value.priceHigh">
                    </ngx-slider>
                </div>
                <div class="advanced-search-group">
                    <h2>Rating</h2>
                    <hr>
                    <ngx-slider [options]="ratingOptions"
                    (valueChange)="setValue($event, 'ratingLow')"
                    [value]="searchForm.value.ratingLow"
                    (highValueChange)="setValue($event, 'ratingHigh')"
                    [highValue]="searchForm.value.ratingHigh">
                    </ngx-slider>
                </div>
                <br>
                <div class="advanced-search-group flex">
                    <button 
                    (click)="clearFilters()"
                    type="button">
                        Clear
                    </button>
                    <button
                    type="submit"
                    [disabled]="searchForm.invalid">
                        Search
                    </button>
                </div>
                <br>
            </form>
        </div>
    </div>
    
</div>
