.advanced-search-inner-group.flex {

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.advanced-search-group.flex {

    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.searchSettingsWindow h2 {
    
    margin-bottom: 2px;
}

.settingsSearch {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #00aaff;
    font-size: 22px;
}

@media all and (max-height: 800px) {

    .backDrop.searchSettings {

        display: block;
        overflow-y: auto;
    }

    .searchSettingsWindow {
        margin: 30px auto;
        display: block;
    }
}

@media all and (max-width: 450px) {

    .advanced-search-group.flex {
        display: block;
    }

    .advanced-search-group.flex button {
        
        display: block;
        margin: 10px auto 0 auto;
    }
}