<div *ngIf="!first || !loading" (window:click)="closeMenus()" 
style="height: 100%;">
  <app-header></app-header>
  <div class="outerWrapper" [ngClass]="{offset: mobileSearch}">
    <router-outlet></router-outlet>
  </div>
  <app-store-message></app-store-message>
  <app-popup-login></app-popup-login>
  <app-report-prompt></app-report-prompt>
  <app-search-settings-popup></app-search-settings-popup>
</div>
<div class="firstBG" *ngIf="first && loading">
  <app-spinner></app-spinner>
</div>