.firstBG {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #00aaff;
}

.outerWrapper {
    
    transition: top 0.4s ease, height 0.4s ease;
    height: calc(100% - 70px);
    position: relative;
    top: 0;
}

@media all and (max-width: 900px) {
    
    .outerWrapper.offset {
    
        top: 55px;
        height: calc(100% - 125px);
    }
}