<div class="conversation-tab" 
[routerLink]="'/messages/' + conversation._id"
[routerLinkActive]="'active'">
    
    <p class="lastMessageDate"
    [title]="conversation.lastMessage | readableTimestamp">
        {{conversation.lastMessage | convertTimestamp: timeStamp}}
    </p>
    <div class="status-indicators">

        <div>
            
            <app-typing-indicator
            [respondent_name]="respondent_name"
            [typing]="otherParticipant.typingNow"
            >
            </app-typing-indicator>
        </div>
        <div class="delievered-read-indicator" *ngIf="conversation.lastMessageSentBy &&
        conversation.lastMessageSentBy === user._id">
            <fa-icon
            [title]="conversation.messages[0].read ? 'Read' : 'Delievered'"
            [icon]="conversation.messages[0].read ? faCheckDouble : faCheck"
            [ngClass]="{read: conversation.messages[0].read }"></fa-icon>
        </div>
    </div>
    <div class="text-holder">
        <h4>{{respondent_name | capitalizePipe}}
            &nbsp;
            <span class="newDot" 
            *ngIf="conversation.lastMessageSentBy !== user._id && !conversation.messages[0].read"
            title="Unread">
            </span></h4>
        <p 
        [ngClass]="{unread: conversation.lastMessageSentBy !== user._id && !conversation.messages[0].read}">
        <span class="boldYou" *ngIf="conversation.lastMessageSentBy === user._id">You: </span>
            {{conversation.messages[0].subject ? (conversation.messages[0].subject | cutShort: 32) 
            : (conversation.messages[0].content | cutShort: 32)}}</p>
    </div>
</div>
