.conversation-tab {

    border-radius: 15px;
    padding: 15px;
    background-color: #fff;
    width: 100%;
    position: relative;
    height: 90px;
    box-sizing: border-box;
    box-shadow:  0px 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 5px;
    cursor: pointer;
    transition: background 0.4s ease;
}

.conversation-tab:hover,
.conversation-tab:focus {

    background-color: rgba(255, 204, 226, 0.367);
}

.conversation-tab.active {

    background-color: rgb(196, 244, 255);
}

.conversation-tab .text-holder h4 {

    margin-top: 5px;
}

.conversation-tab .text-holder p {

    margin-bottom: 3px;
}

.lastMessageDate {
    float: right;
    position: absolute;
    right: 10px;
}

.status-indicators {

    display: flex;
    justify-content: space-between;
    float: right;
    margin-top: 28px;
    width: 67px;
}

.delievered-read-indicator .read {
    color: #00aaff;
}

.boldYou {

    font-weight: bold;
    color: #b8447a;
}

.text-holder .unread {

    font-weight: bolder;
}

.newDot {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    background-color: #00aaff;
    bottom: 3px;
    position: relative;
    animation: expand-contract 2s infinite ease-in-out;
}

@keyframes expand-contract {

    0% {

        transform: scale(1);
    }

    50% {

        transform: scale(1.3);
    }

    100% {

        transform: scale(1);
    }
}