.typing-indicator {

    width: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 5px;
    height: 18px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #00aaff;
}

.typing-indicator.big {

    width: 45px;
    height: 25px;
}

.typing-indicator .typing-dot {

    background-color: #fff;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    animation: expand-contract-slide 0.6s infinite ease-in-out;
}

.typing-indicator.big .typing-dot {
    height: 5px;
    width: 5px;
}

@keyframes expand-contract-slide {

    0% {

        transform: scale(1) translateY(0px);
    }

    50% {

        transform: scale(1.4) translateY(-1px);
    }

    100% {

        transform: scale(1) translateY(0px);
    }
}