<div 
class="typing-indicator" 
[title]="(respondent_name | capitalizePipe) + ' is typing...'"
*ngIf="typing"
[ngClass]="{big: big}">
    <div class="typing-dot" *ngFor="let dot of dots; let i = index" class="typing-dot"
        [ngStyle]="{'animation-delay': i * 0.2 + 's'}" [id]="'typing-dot-' + i"></div>
</div>