<div class="inner-main">
    <div class="contactHolder" *ngIf="!loading && !info">
        <h1>Contact</h1>

        <div class="formHolder">

            <form [formGroup]="contactForm" (submit)="sendMessage()">
                <div class="formGroup" *ngIf="isAuth">
                    <label for="sendEmail">Send updates per email</label>
                    <div id="sendEmail">
                        <app-checkbox [border]="true"
                        (toggle)="checkBox($event)"
                        [enabled]="contactForm.value.sendEmail">
                        </app-checkbox>
                    </div>
                </div>
                <div class="formGroup" *ngIf="!isAuth">
                    <label for="email">Email *</label>
                    <input 
                    type="email" 
                    name="email"
                    class="red"
                    id="email"
                    formControlName="email"
                    placeholder="example@gmail.com">
                    <app-error-message 
                    [error]="contactForm.controls.email.errors.required ?
                    'Email is required' : 'Invalid email format'" 
                    *ngIf="contactForm.controls.email.errors &&
                    contactForm.controls.email.touched">
                    </app-error-message>
                </div>
                <div class="formGroup">
                    <label for="subject">Subject *</label>
                    <input 
                    type="text"
                    formControlName="subject"
                    name="subject"
                    class="red"
                    id="subject"
                    placeholder="I need help with...">
                    <app-error-message 
                    [error]="contactForm.controls.subject.errors.required ?
                    'Subject is required' : 
                    (contactForm.controls.subject.errors.minlength ?
                    'Subject is too short' :
                    'Character limit exceeded')" 
                    *ngIf="contactForm.controls.subject.errors &&
                    contactForm.controls.subject.touched">
                    </app-error-message>
                </div>
                <div class="formGroup">
                    <label for="content">Content *</label>
                    <textarea
                    class="red"
                    name="content" 
                    id="content"
                    formControlName="content"
                    placeholder="Please help me with example issue..."></textarea>
                    <app-error-message 
                    [error]="contactForm.controls.content.errors.required ?
                    'Content is required' : 
                    (contactForm.controls.content.errors.minlength ?
                    'Content is too short' :
                    'Character limit exceeded')" 
                    *ngIf="contactForm.controls.content.errors &&
                    contactForm.controls.content.touched">
                    </app-error-message>
                </div>
                <div class="sendButtonHolder">
                    <button [disabled]="contactForm.invalid">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div style="overflow: hidden;" *ngIf="loading">
        <app-spinner [purple]="true"></app-spinner>
    </div>
    <div *ngIf="info" class="contactInfoHolder">

        <app-result [text]="info"></app-result>
    </div>
    <div class="innerErrorHolder">
        <app-error [error]="error" [errorMessage]="error"></app-error>
    </div>
</div>
