.outer-star-holder {
    width: 140px;
    float: right;
}

.search-discount {
    color: rgb(136, 170, 177);
}

.price-right-h2 {
    margin-top: 6px;
    margin-bottom: 3px;
    text-align: right;
}