<h2 class="price-right-h2">
    <span 
    class="discount search-discount" 
    *ngIf="product.discountPrice"
    title="Discounted item">€{{product.price}} </span>
    €{{product.discountPrice ? product.discountPrice : product.price}}
</h2>
<div class="outer-star-holder">
    <a [routerLink]="'/products/' + product._id + '/reviews'">
        <app-review-stars
        [rating]="product.averageRating">
        </app-review-stars>
    </a>
</div>
