<div class="innerLoginWrapper" *ngIf="info || error">
    <app-result 
    [error]="error"
    [text]="error ? error : info"></app-result>
    <br>
    <a 
    [routerLink]="'/'"
    class="switchLink centered"
    *ngIf="error"
    >Return to front page</a>
</div>
