<div class="sideMenu" [@slideInOut] *ngIf="enabled" [ngClass]="{search: mobileSearch}">
    <ul class="outer">
        <div>

            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <li>Front page</li>
            </a>
            <a routerLink="/products" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">
                <li>All products</li>
            </a>
        </div>
        <div>
            <li [class]="{active: subMenu}" (click)="toggleSubMenu($event)">
                Product Categories <fa-icon class="icon"
                [icon]="subMenu ? faChevronUp : faChevronDown">
                </fa-icon>
            </li>
            <ul *ngIf="subMenu" class="inner">
                <div>
                    <a 
                    routerLink="/products"
                    routerLinkActive="active"
                    [queryParams]="{type: categories.BREAD}">
                        <li>Bread</li>
                    </a>
                </div>
                <div>
                    <a 
                    routerLink="/products" 
                    routerLinkActive="active"
                    [queryParams]="{type: categories.SWEET}">
                        <li>Sweets</li>
                    </a>
                </div>
                <div>
                    <a 
                    routerLink="/products" 
                    routerLinkActive="active"
                    [queryParams]="{type: categories.COOKIE}">
                        <li>Cookies</li>
                    </a>
                </div>
            </ul>
        </div>
        <a routerLink="/about" routerLinkActive="active">
            <li>About</li>
        </a>
        <a routerLink="/contact" routerLinkActive="active">
            <li>Contact</li>
        </a>
    </ul>
</div>