.sideMenu {
    width: 350px;
    position: fixed;
    z-index: 50;
    margin-top: 70px;
    height: 100%;
    background-color: #fff;
    box-shadow:  2px 0px 5px rgba(0,0,0,0.2);
    overflow-y: auto;
    transition: margin 0.4s ease;
}

.sideMenu ul {
    margin: 0;
    padding: 0;
}

.outer {
    margin-bottom: 70px !important;
}

.sideMenu ul a {
    text-decoration: none;
}

.outer li {
    width: 100%;
    font-size: 25px;
    padding: 12px 17px;
    color: #000;
    cursor: pointer;
    box-sizing: border-box;
}

.inner {
    margin-left: 20px !important;
}

.outer li:active, .outer li:hover, .outer .active {

    background-color: #f37aaf !important;
}

a.active > li {
    background-color: #9facbd !important;
}

@media all and (max-width: 900px) {

    .sideMenu.search {
        margin-top: 120px;
        height: calc(100% - 50px);
    }    
}