<app-sort-bar
[sortValue]="sortValue"
[orderValue]="orderValue"
[sortAfter]="sortReviews"
(changeSort)="setSort($event)"
(changeOrder)="setOrder($event)">
</app-sort-bar>
<span class="reviewsScrollInto" #scrollElement></span>
<app-review
*ngIf="product.hasOrdered && !product.hasReviewed"
[edit]="newReview"
[user]="user"
(saveEvent)="saveReview($event, true)"
[loading]="indLoading === 'new'"
>
</app-review>
<div *ngIf="reviews.length">
    <app-review *ngFor="let review of reviews"
    [review]="review"
    [user]="user"
    [edit]="user && user._id === review.creator._id && editUserReview"
    [loading]="indLoading && indLoading === review._id"
    (deleteEvent)="deleteReview(review._id)"
    (saveEvent)="saveReview($event)"
    (voteEvent)="vote({review: review, positive: $event})">
    </app-review>
    
</div>
<div class="noItems" *ngIf="end && !reviews.length">
    <p>There are no reviews for this product yet.</p>
</div>
<br>
<app-error-block
*ngIf="!end"
[loading]="loading"
[error]="error">
</app-error-block>
<app-scroll-load 
[loading]="loading"
(triggerLoadEvent)="triggerLoad()">
</app-scroll-load>
