.review-star {
    font-size: 22px;
    color: #d34286;
}

.review-star.white {
    color: #fff;
}

.review-star.lowerthan {
    color: #9facbd;
}

.starHolder {
    display: flex;
    margin: 5px auto;
    justify-content: space-between;
}

.clickable {
    cursor: pointer;
}