<div class="starHolder" [title]="!noTitle ?
(!rating ? 'There are no reviews for this product yet' : 'Read reviews for this product')
: ''"
>
    <fa-icon class="review-star" 
    *ngFor="let _ of numbers; 
    let i = index" [ngClass]="{lowerthan: (i+0.5) > rating &&
    rating > 0 && rating && hoverIndex === -1 ||
    (i+0.5) > rating &&
    rating > 0 && rating && firstHover ||
    firstClick && rating < 0 && hoverIndex === -1 ||
    !rating && !hover || hover && i > hoverIndex && hoverIndex > -1
    || !hover && (i+0.5) > rating,
    white: white
    }" 
    [icon]="rating < (i+1) && rating >= (i+0.5) ?
    faStarHalfAlt : faStar"
    (mouseover)="setIndex(i)"
    (mouseout)="hoverIndex = -1"
    (click)="setRating(i + 1)">
    </fa-icon>
</div>