<div class="inner-main">

    <div *ngIf="order && !loading && !error">

        <app-order-result [cancelled]="true"></app-order-result>

        <h2 class="overline">Order details</h2>
        <hr>

        <app-product-list [products]="order.product_docs" [cartItems]="order.products" [cancelled]="true"></app-product-list>
        <h2 *ngIf="order.express">Express shipping (+ €3.99)</h2>

        <br>
        <h2>Sum: €{{order.sum}}</h2>

        <p>All money spent will be refunded as soon as possible.</p>

        <h2 class="overline">Delievery address</h2>
        <hr>
        <app-address-box *ngIf="address" [address]="address"></app-address-box>
    </div>

    <div class="loaderHolder" style="overflow: hidden;" *ngIf="loading">
        <app-spinner [purple]="true"></app-spinner>
    </div>
    
    <div *ngIf="!loading && error">
        <app-failed-to-load
        [error]="error"
        (loadAgainEvent)="getOrder()">
        </app-failed-to-load>
    </div>
</div>
