.search-item {
    background-color: rgb(196, 244, 255);
    min-height: 140px;
}

.imageDiv {
    background-color: white;
    border-radius: 5px;
    height: 110px;
    width: 110px;
    padding: 5px;
    box-sizing: border-box;
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
}

.search-item img {

    height: 100%;
}

.search-item-line {
    display: inline-block;
    margin-left: 20px;
    width: 270px;
}

.search-item-line h1 {
    margin: 0;
}

.search-item-line p {
    margin-bottom: 0;
}

.inner-search {
    display: flex;
    justify-content: space-between;
}

.addToCartContainer {
    width: 160px;
    display: inline-table;
    bottom: 10px;
    right: 5px;
    position: absolute;
}

.search-item .tagHolder {

    width: calc(100% - 180px);
}

.search-item .tag {
    margin-top: 7px;
}

.price-mobile {
    display: none;
}

@media all and (max-width: 700px) {

    .search-item-line {

        margin-left: 0;
        margin-top: 15px;
        display: block;
        width: 100%;
    }

    .inner-search {

        width: 100%;
        display: inline-block;
    }

    .right-section {
        float: right;
    }

    .price-desktop {
        display: none;
    }

    .price-mobile {
        display: inline-table;
        float: right;
    }
}