<div class="product-list-item search-item">
    <div class="inner-search">
        <div class="left-section">
            <div class="price-mobile">
                <app-search-item-right-side [product]="product"></app-search-item-right-side>
            </div>
            <a [routerLink]="'/products/' + product._id">
                <div class="imageDiv">
                    <img [src]="'../../../assets/products/' + product.imageUrl" [alt]="product.title">
                </div>
            </a>
            <div class="search-item-line">
                <a [routerLink]="'/products/' + product._id">
                    <h1>{{product.title}}</h1>
                </a>
                <p>{{product.description | cutShort: 97}}</p>
        
            </div>

        </div>
        <div class="right-section">
            <div class="price-desktop">
                <app-search-item-right-side [product]="product"></app-search-item-right-side>
            </div>
            <br>
            <div class="addToCartContainer">
                <app-cartbutton
                [product]="product"
                ></app-cartbutton>
            </div>
        </div>
    </div>
    <br>
    <div class="tagHolder">
        <p class="tag" *ngFor="let tag of product.tags">
            <a [routerLink]="'/search'" [queryParams]="{searchstring: replaceChar(tag)}">{{tag}}</a>
        </p>
    </div>
</div>
