.map {
    display: block;
    margin: auto;
    width: 550px;
    height: 400px;
    position: relative;
    z-index: 3;
}

@media all and (max-width: 900px) {

    .map {
        height: 400px;
        width: 100%;
    }
}

@media all and (max-width: 600px) {

    .map {
        height: 300px;
    }
}