<div class="inner-main">
    <h1>Search results for '{{filter && filter.searchstring ? filter.searchstring : ''}}'</h1>

    <div>
        <p>Displaying {{products.length}} of {{
            products.length < 20*loadTimes ? products.length : 20*loadTimes
        }} results</p>
        <app-search-item
        *ngFor="let product of products"
        [product]="product">
        </app-search-item>

        <div class="no-items-image-holder" *ngIf="!products.length && !error && !loading">
            <img src="../../../../assets/tumbleweed.png" alt="No items found">
        </div>
    </div>

    <app-scroll-load
    (triggerLoadEvent)="loadMore()"
    [loading]="loading">
    </app-scroll-load>

    <app-error-block *ngIf="!products.length && error" [error]="error"></app-error-block>
</div>
