<div class="radio-wrapper">
    <div class="radiobutton" 
    *ngFor="let option of options; let i = index"
    (click)="select(i)">
        <div class="radio-circle">
            <div class="innerCircle" *ngIf="i === selected"></div>
        </div>
        <p class="desc">{{option.description}}</p>
    </div>
</div>
