.radio-wrapper {
    margin: 0px auto 10px auto;
}

.radiobutton {
    display: block;
    height: 50px;
    cursor: pointer;
}

.radio-circle {
    width: 31px;
    height: 31px;
    border: 1px solid #00aaff;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.innerCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #b8447a;
    transition: transform 0.4s ease;
}

.innerCircle:hover, .innerCircle:focus {
    transform: scale(0.8);
}

.desc {
    display: inline-block;
    font-size: 20px;
    margin: 3px 0px 0px 40px;
}