.report input {
    border: 1px solid #0088ff;
}

.report textarea {

    border-radius: 5px;
    width: 100%;
    resize: none;
    border: 1px solid #0088ff;
    box-sizing: border-box;
    padding: 5px;
    height: 100px;
    font-size: 18px;
}

.report input.ng-invalid.ng-touched,
.report textarea.ng-invalid.ng-touched {
    border: 1px solid #b8447a;
}

.report-button-holder {
    display: flex;
    justify-content: center;
}

.report-loader-holder {
    height: 200px;
    overflow: hidden;
}

.report-prompt-info-holder {
    text-align: center;
    color: #00aaff;
}

.checkCircle {
    font-size: 40px;
    display: block;
}