<div class="report">

    <div class="backDrop" [ngClass]="{visible: reportProps && reportProps.enabled}">

        <div class="reportForm popup-window" (click)="$event.stopPropagation()">
            <div *ngIf="!loading && !error && !info">
                <app-close-cross></app-close-cross>
                <h1>Flag review</h1>
    
                <div class="report-form-holder">
                    <form [formGroup]="reportForm" (submit)="submitReport()">
                        <div class="formGroup">
                            <label for="reason">Reason *</label>
                            <input 
                            type="text"
                            formControlName="reason" 
                            name="reason" 
                            id="reason"
                            placeholder="Ex. harassment, spam">
                            <app-error-message 
                            [error]="reportForm.controls.reason.errors.required ?
                            'Report reason is required' : 
                            (reportForm.controls.reason.errors.minlength ?
                            'Report reason is too short' :
                            'Character limit exceeded')" 
                            *ngIf="reportForm.controls.reason.errors &&
                            reportForm.controls.reason.touched">
                            </app-error-message>
                        </div>
                        <div class="formGroup">
                            <label for="details">Details</label>
                            <textarea
                            name="details"
                            formControlName="details"
                            id="details"
                            placeholder="Max 150 characters (optional)"
                            ></textarea>
                            <app-error-message 
                            [error]="reportForm.controls.details.errors.minlength ?
                            'Report reason is too short' :
                            'Character limit exceeded'" 
                            *ngIf="reportForm.controls.details.errors &&
                            reportForm.controls.details.touched">
                            </app-error-message>
                        </div>
                        <div class="formGroup" *ngIf="user">
                            <label for="sendEmail">Send updates per email</label>
                            <div id="sendEmail">
                                <app-checkbox 
                                [enabled]="reportForm.value.sendEmail"
                                [border]="true"
                                (toggle)="checkSendEmail($event)">
                                </app-checkbox>
                            </div>
                        </div>
                        <div class="formGroup" *ngIf="!user">
                            <label for="email">Email</label>
                            <input 
                            type="email" 
                            name="email"
                            formControlName="email"
                            id="email"
                            placeholder="Optional">
                            <app-error-message 
                            [error]="'Invalid email format'" 
                            *ngIf="reportForm.controls.email.errors &&
                            reportForm.controls.email.touched">
                            </app-error-message>
                        </div>
                        <div class="report-button-holder">
                            <button [disabled]="reportForm.invalid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="report-loader-holder" *ngIf="loading">
                <app-spinner [purple]="true"></app-spinner>
            </div>
            <div *ngIf="error">
                <app-error-block
                [error]="error">
                </app-error-block>
                <br>
                <div class="button-holder">
                    <button 
                    *ngIf="error === 'Network Error'"
                    (click)="submitReport()">
                        Retry
                    </button>
                </div>
            </div>
            <div *ngIf="info" class="report-prompt-info-holder">
                <br>
                <fa-icon 
                [icon]="faCheckCircle"
                class="checkCircle">
                </fa-icon>
                <h2>{{info}}</h2>
            </div>
        </div>
    </div>
</div>