.cdk-country-container.disabled {
    display: none;
}

.countryCodeField {

    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
    position: relative;
}

.mat-option-text {

    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.svg-flag {

    width: 24px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.custom-virtual {

    height: calc(45px * 5);
    width: 200px;
    overflow-x: hidden;
}

.countryCodeField.small {
    width: 51px;
}

::ng-deep .cdk-overlay-pane {
    
    min-width: auto !important;
}

::ng-deep .mat-select-panel {

    min-width: 100% !important;
    overflow-x: hidden;
}

::ng-deep .mat-select-arrow-wrapper {
    opacity: 0;
}

::ng-deep .mat-select-value {
    opacity: 0;
}

::ng-deep .mat-select {

    z-index: 50;
    float: left;
    position: absolute !important;
}

::ng-deep .mat-select-trigger {
    height: 31px;
}

::ng-deep .mat-option-text {

    width: 160px;
}