<div 
class="form-country-code countryCodeField custom-country-code"
[ngClass]="{small: small}">
<mat-select
    (keydown)="keySearch($event)"
    [(value)]="selected"
    (openedChange)="shouldScroll($event)"
    (selectionChange)="emitCountry()"
    *ngIf="countries" class="custom-mat-select">
        <cdk-virtual-scroll-viewport
        itemSize="30" class="custom-virtual">
            <mat-option *cdkVirtualFor="let country of countries"
            [value]="country.code"
            [title]="country.dial_code + ' ' + country.name">
                <div class="mat-option-text">
                    <div class="svg-flag" [innerHTML]="country.icon">
                    </div>
                    <span>
                        <div 
                        style="display: inline-block;" 
                        *ngIf="includePlus">({{country.dial_code}})</div>
                        {{country.name}}
                    </span>
                </div>
            </mat-option>
        </cdk-virtual-scroll-viewport>
    </mat-select>
    <ng-content></ng-content>
</div>
