<div class="errorHolder">
    <div class="errorHolder-inner">
        <fa-icon [icon]="faExclamationTriangle" class="loadError"></fa-icon>
        <h2>{{error}}</h2>
        <br>
        <button (click)="loadAgain()" *ngIf="error === 'Network Error'">Retry</button>
        <br>
        <br>
        <p><a [routerLink]="'/'">Back to front page</a></p>
    </div>
</div>
