<div class="inner-main">
    <div *ngIf="order && !loading && presetCountry">
        <p>
            <a [routerLink]="'/products/' + productId + '/orders'"
            *ngIf="productId">
                {{findProductTitleFromId(productId)}}
            </a>
            <a 
            [routerLink]="'/orders'" 
            *ngIf="!productId"
            [queryParams]="query ? query : null">
                Orders
            </a>
            &nbsp;<strong>&gt;</strong>&nbsp;
            Order made {{order.orderedAt | readableTimestamp}}
        </p>
        <app-order
        [order]="order"
        [user]="user"
        [edit]="edit"
        [redirectOnCancel]="true"
        [presetCountry]="presetCountry"
        [loading]="indLoading === order._id">
        </app-order>
    </div>
    <div class="loaderHolder-review" *ngIf="loading">
        <app-spinner [purple]="true">
        </app-spinner>
    </div>
    <div *ngIf="!loading && !order && error">
        
        <app-failed-to-load
        [error]="error"
        (loadAgainEvent)="loadOrder()">
        </app-failed-to-load>
    </div>
</div>
