.toggle-slider {

    width: 50px;
    height: 20px;
    transition: background 0.4s ease;
    border-radius: 10px;
    position: relative;
}

.toggleButton {

    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    top: 1.5px;
    position: relative;
    left: 1px;
    transition: left 0.4s ease 0s;
}

.toggleButton.enabled {

    left: 31.5px;
}