html, body {
    margin: 0;
    padding: 0;
    background-image: url("/assets/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: alternate-gothic-atf, sans-serif;
    font-style: normal;
    min-height: 100%;
    font-weight: 600;
}

body.locked {
    overflow: hidden;
}

button {
    background-color: #d34286;
    color: rgb(238, 238, 238);
    transition: color 0.4s ease, background 0.4s ease;
    border: none;
    border-radius: 8px;
    padding: 8px 4px;
    box-sizing: border-box;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #df5e9a;
    color: rgb(255, 255, 255);
}

button:disabled {
    background-color: #888;
    color: #eee;
    cursor: not-allowed;
}

a, .messageLink {
    color: #b8447a;
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:focus, .messageLink:hover, .messageLink:focus {
    text-decoration: underline;
}

ul {
    list-style: none;
}

h3 {
    font-size: 26px;
    margin-bottom: 5px;
}

h4 {
    font-size: 21px;
    margin-bottom: 3px;
}

h5 {
    font-size: 20px;
}

li {
    font-weight: 550;
}

p {
    font-size: 19px;
    font-weight: 550;
    margin: 1px 0 30px 0;
}

input:disabled {
    cursor: not-allowed;
}

small {
    font-weight: 550;
    font-size: 16px;
}

hr {
    border: none;
    border-top: thin solid #000;
    height: 1px;
    background-color: transparent;
    margin: 0 0 30px 0;
}

select {
    padding: 10px;
}

.form-country-code {
    width: 100%;
    display: block !important;
    cursor: pointer;
}

.form-country-code p {
    margin: 4.5px 20px 0 45px;
    font-size: 20px;
    height: 26.7px;
    box-sizing: border-box;
    display: inline-table;
}

.form-country-code .flag {
    display: inline-table;
    width: 40px;
    overflow: hidden;
    position: absolute;
}

.form-country-code .flag svg {
    height: 23px;
    margin-top: 4.5px;
    margin-left: 4.5px;
    max-height: 31px;
    display: inline-table !important;
}

.form-country-code .flag.small, .form-country-code .hourglassHolder {
    height: 31px;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 10px;
}

.form-country-code .flag.small svg {
    margin-left: 0;
}

.formGroup {
    margin-bottom: 15px;
}

.filters-holder label,
.formGroup label,
.inner-control label,
.report label,
.readTOS {

    font-size: 24px;
    display: block;
    margin-bottom: 7px;
}

.formGroup input,
.report input,
.inner-control input {

    font-size: 19px;
    width: 100%;
    border-radius: 5px;
    padding: 4px 0 4px 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

textarea {
    font-family: sans-serif;
    font-size: 15px;
}

.formGroup.auth input.ng-invalid.ng-touched,
.inner-control input.ng-invalid.ng-touched,
.formGroup input.red.ng-invalid.ng-touched {
    background-color: rgb(255, 211, 211);
}

.formGroup input.red.ng-invalid.ng-touched,
.formGroup textarea.ng-invalid.ng-touched {
    border: 1px solid #ff005d !important;
    background-color: rgb(255, 211, 211);
}

.loginButton {
    margin: 15px auto;
    display: block;
}

.switchLink {

    text-decoration: none;
    color: white;
    font-size: 19px;
    cursor: pointer;
}

.switchLink:hover, .switchLink:focus {
    text-decoration: none;
}

.centered {
    text-align: center;
    display: block;
    margin: auto;
}

.productItem {
    display: inline-block;
    height: 310px;
    width: 200px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.462);
}

.productItem.gray {
    background-color: #9facbd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-main {
    width: 75%;
    min-height: calc(100vh - 190px);
    display: inline-block;
    margin: 90px 12.5%;
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.462);
}

.inner-main.extended {
    width: 88%;
    margin: 90px 6%;
}

.inner-main.extended.fixed {

    min-height: 400px;
    width: 97%;
    height: calc(100vh - 130px);
    margin: 90px 1.5% 40px 1.5%;
}

.productCategory {
    display: block;
    color: white;
    padding: 5px;
    font-size: 24px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.462);
}

.loaderHolder {
    overflow: hidden;
}

.product-list-item {

    border-radius: 5px;
    border: 1px solid #00aaff;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 15px;
}

.cartItems {
    padding: 0;
}

.cartItems li {
    padding: 5px;
    border-radius: 5px;
    background-color: #9facbd;
    box-sizing: border-box;
    margin-bottom: 7px;
}

.cartItems h2 {
    margin-left: 10px;
    display: inline-table;
}

.productImg {
    width: 50px;
    margin-top: 10px;
    float: left;
    border-radius: 4px;
}

.noItems {
    padding: 30px 0;
}

.product-list-item label {
    font-size: 24px;
    display: block;
}

.product-list-item input,
.contactHolder input,
.product-list-item textarea,
.contactHolder textarea {

    border: 1px solid #00aaff;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    resize: none;
    box-sizing: border-box;
}

.contactHolder textarea {

    height: 250px;
    font-size: 20px;
}

.product-list-item textarea {
    height: 200px;
    overflow-y: auto;
    resize: none;
}

.itemButtons {
    display: flex;
    justify-content: center;
}

.itemButtons button {
    margin: auto 20px;
}

.countrySelect {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    height: 31px;
    display: inline-block;
}

.errorHolder {
    color: #ff005d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loadError {
    font-size: 70px;
}

.backDrop {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
    background-color: rgba(0,0,0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.backDrop.visible {
    opacity: 1;
    pointer-events: all;
}

.popup-window {
    padding: 15px;
    box-sizing: border-box;
    width: 500px;
    border-radius: 10px;
    background-color: #fff;
}


.tag {
    display: inline-block;
    padding: 3px 10px;
    font-size: 19px;
    margin: 0 10px 4px 0;
    background-color: #00aaff;
    border-radius: 5px;
    text-transform: capitalize;
}

.tag a, .tag a:hover, .tag a:focus {
    color: black;
    text-decoration: none;
}

.wide-wrapper {
    width: 700px;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
}

.blueBox {
    background-color: #00aaff;
    margin: 100px auto 30px auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.bluexBoxHeadline {
    margin-top: 12px;
    font-size: 40px;
}

.holder {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
}

.phone-holder {
    display: flex;
    justify-content: space-between;
}

#phone {
    width: 80%;
    height: 31px;
}

.inner-control {
    height: 100px;
    width: 300px;
}

.inner-control.extended {
    height: 115px;
}

#firstName, #lastName, #city, #province {
    text-transform: capitalize;
}

.innerErrorHolder {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.overline {

    margin-bottom: 2px;
}

.cancelLink {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: #b8447a;
    cursor: pointer;
}

.cancelLink:hover, .cancelLink:focus {
    text-decoration: underline;
}

.discount {
    text-decoration: line-through;
}

.order-discount {
    color: rgb(130, 117, 125);
}

.order-item-price.right {
    float: right;
    margin-right: 20px;
}

.cancelled-discount {
    color: rgb(231, 141, 183);
}

.cancelled-discount.success {
    color: rgb(111, 111, 111);
}

.no-items-image-holder {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-items-image-holder.no-overflow {

    height: 75%;
    overflow: hidden;
}

.no-items-image-holder img {
    width: 50%;
    max-width: 350px;
    min-width: 150px;
}

.message-column {
    width: 100%;
    overflow-y: auto;
    height: 100%;
    position: relative;
    box-shadow: -10px 0 3px -4px rgba(0, 0, 0, 0.1);
}

.message-column.full {

    display: flex;
    align-items: center;
    justify-content: center;
}

.messageHL {

    margin: 21px 0 10px 10px;
}

.messageTopBar {

    height: 60px;
    box-shadow: 5px 0 10px #fff;
    position: relative;
    z-index: 12;
}

.tumbleweed {
    position: relative;
    animation: rotate 2s infinite forwards linear, bounce 2s infinite forwards ease-in-out;
}

@keyframes rotate {

    0% {

        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0% {
        top: 0;
    }

    50% {
        top: -20px;
    }

    100% {
        top: 0;
    }
}

@media all and (max-width: 900px) {

    html, body {

        background-image: none;
        background-color: #fff;
        height: 100%;
    }

    .inner-main, .inner-main.inner-main.extended {
        width: 97%;
        margin: 90px 1.5%;
        box-shadow: none;
        border-radius: 0;
    }

    .inner-main.extended.fixed {

        height: 100%;
        width: 100%;
        margin: 70px 0 0 0;
        padding: 10px;
    }

    .wide-wrapper {
        width: 96vw;
        margin: auto;
        box-sizing: border-box;
    }

    .holder {

        display: block;
    }

    .inner-control {
        width: 100%;
    }

    .message-column {

        width: 100%;
        box-shadow: none;
    }
}

@media all and (max-width: 600px) {

    .popup-window {
        width: 100%;
        border-radius: 0;
        margin: 0 !important;
        min-height: 100%;
    }
}

@media all and (max-width: 500px) {

    .product-list-item {

        padding: 11px;
    }
}

@media all and (max-width: 400px) {

    .inner-main {

        padding: 20px 10px;
    }
}
