<div class="menu" (click)="$event.stopPropagation()" [ngClass]="{search: mobileSearch}">
    <p>Hello {{user.firstName}}!</p>
    <ul (click)="closeMenu()">
        <a routerLink="/settings"><li>User settings</li></a>
        <a routerLink="/orders" [queryParams]="{reload: 'true'}"><li (click)="clearOrders()">Orders</li></a>
        <a routerLink="/orders/checkout"><li>Checkout</li></a>
        <a [routerLink]="'/reviews'"><li (click)="clearReviews()">Reviews</li></a>
        <a [routerLink]="'/messages'">
            <span class="messageCount" *ngIf="messageCount">{{messageCount <= 9 ? messageCount : '9+'}}</span>
            <li>Messages</li>
        </a>
        <li id="last" (click)="logout()">Logout</li>
    </ul>
</div>
