.menu {
    width: 200px;
    float: right;
    background: #fff;
    margin-top: 0;
    box-shadow:  -2px 0px 5px rgba(0,0,0,0.1);
    top: 0;
    padding: 0;
    transform: translateY(-4px);
    border-bottom-left-radius: 10px;
}

.menu p {
    color: #000;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 22px;
}
li {
    padding: 5px 3px 5px 10px;
    cursor: pointer;
    font-size: 21px;
    color: #000;
}

#last {
    border-bottom-left-radius: 10px;
}

.messageCount {
    border-radius: 50%;
    color: #fff;
    background-color: #d34286;
    height: 25px;
    width: 25px;
    margin-top: 3px;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: right;
    pointer-events: none;
}

li:hover, li:focus, #last:hover, #last:focus {
    background-color: #f37aaf;
}

a:hover, a:focus {
    text-decoration: none;
}

.menu ul {
    padding: 0;
    margin-bottom: 0;
}

@media all and (max-width: 900px) {

    .menu {

        transform: none;
        position: absolute;
        float: none;
        right: 0;
        top: 70px;
        transition: top 0.4s ease;
    }

    .menu.search {
        top: 120px;
    }
}

@media all and (max-width: 600px) {

    .menu {

        width: 100%;
        border-bottom-left-radius: 0;
    }

    #last {
        border-bottom-left-radius: 0;
    }
}