<ul class="addressBox">
    <li><span>Street:</span> <span>{{address.street}}</span></li>
    <li *ngIf="address.additional"><span>Address complement:</span> <span>{{address.additional}}</span></li>
    <li><span>Postal code:</span> <span>{{address.zip}}</span></li>
    <li><span>City:</span> <span>{{address.city}}</span></li>
    <li *ngIf="address.province"><span>Province:</span> <span>{{address.province}}</span></li>
    <li><span>Country:</span> <span>{{address.countryCode | country}}</span></li>
</ul>
