<div class="inner-main">

    <div *ngIf="order && !loading">
        <h1>Order Summary</h1>
        <ul class="cartItems no-overflow">
            <li *ngFor="let productItem of order.product_docs; let i = index">
                <img class="productImg" [src]="'../../../assets/products/' + productItem.imageUrl">
                <h2>{{productItem.title}} &nbsp; ({{order.products[i].count}})</h2>
                <h2 class="order-item-price right"><span class="discount order-discount" *ngIf="productItem.discountPrice">
                    €{{productItem.price}}
                </span>€{{productItem.discountPrice ? productItem.discountPrice : productItem.price}}</h2>
            </li>
        </ul>
        <h2 *ngIf="order.express">Express shipping (+ €3.99)</h2>

        <br>
        <h2>Sum: €{{order.sum}}</h2>

        <div class="confirmPaymentButton">
            <button (click)="confirmPayment()">Pay now</button>
        </div>
        <a [routerLink]="'../../cancel/' + orderId"><p class="cancelLink">Cancel</p></a>
    </div>

    <div class="loaderHolder" style="overflow: hidden;" *ngIf="loading">
        <app-spinner [purple]="true"></app-spinner>
    </div>
    
    <div *ngIf="!loading && !order && error">
        <app-failed-to-load
        [error]="error"
        (loadAgainEvent)="loadOrder()">
        </app-failed-to-load>
    </div>

    <div class="innerErrorHolder" *ngIf="!loading && order">
        <app-error [error]="error" [errorMessage]="error"></app-error>
    </div>

</div>
